[2021-08-28 18:09] #6096 closed

[2021-08-28 18:23] sc0ttkclark commented on #6094
@zrothauser What was the limitation here? Can we allow both?

[2021-08-28 21:07] zrothauser commented on #6094
@sc0ttkclark We talked about that I was running into some problems with the drag-and-drop library and it was taking a while, moved this to the 2.9 list to save on time.

[2021-08-28 21:08] sc0ttkclark commented on #6094
Okay great, let's revisit after simple repeatable fields then

[2021-08-28 21:37] sc0ttkclark commented on #4644
Once the other issue is resolved, this should be noted that it's not a guarantee that the enhancement this issue describes will work. I'm just interested to find out if it was fixed as a result of some of our other work. If not, we will punt this to 2.9 for backend work to be done.

[2021-08-29 03:22] sc0ttkclark commented on #6084
Fixed via df285b712e1d64838f9e8a8411e436d582deed68 and 6cd2798ab81bd34501d49bf7d3ee35eb4eb10c2c

[2021-08-29 03:22] #6084 closed

[2021-08-29 03:36] sc0ttkclark commented on #6090
@zrothauser The `fieldItemData` on the fields appear to be set correctly. Not sure what's up here, can you have a look?

[code]

[2021-08-29 03:38] sc0ttkclark commented on #6091
All of these things were removed in 2.8.

* Relating to a Settings pod was a mistake, that should have been removed when we added the ability to relate to other pods. The problem there is that Settings are one instance, so it doesn't work at all.
* Custom CSS / Customize Changeset / WP Template etc were also removed from the list as we updated to remove some of the internal things from WP which we

[2021-08-29 03:38] #6091 closed

[2021-08-29 04:03] sc0ttkclark commented on #6092
Fixed via a29e531f5e3e215dfc983caee9afe1a48fd66aee

[2021-08-29 04:03] #6092 closed

[2021-08-29 04:12] sc0ttkclark commented on #6072
Fixed via https://github.com/pods-framework/pods/commit/46676cbe25114abe98cb79b4d1a509629c30b575

[2021-08-29 04:12] #6072 closed

[2021-08-29 06:07] justdudeone commented on #6098
https://motors.stylemixthemes.com/classified/listings/bmw-m5/ - main tech specs (Taxonomy) - each with individual icon;
https://motors.stylemixthemes.com/listings/tesla-roadster/ - tab "Technical" - each group have individual icon.

[2021-08-29 16:58] sc0ttkclark opened #6099 "[Pods 2.8 Bug] Clicking checkbox text does not toggle checkbox (boolean field)"
## Pods 2.8 version

2.8.0-b-5

## Description

Clicking the text of the checkbox does not toggle the checkbox.

## Testing instructions

1. Edit any CPT pod config
2. Click on Auto Template Options
3. Try to click the text of the checkbox (it has a clicky-hand cursor)
4. See the checkbox does not toggle on/off on click

## Expected behavior

The checkbox will toggle on/off on clicking the text.

[2021-08-29 17:07] sc0ttkclark commented on #6089
I'm seeing issues when WYSIWYG is present, I need to dig further into what's happening there.

[2021-08-29 22:01] sc0ttkclark commented on #6093
I think this was related to certain forms passing values as null, I fixed the issue in a commit that has a value fallback to an empty string (or an empty array if a multiselect simpleselect dropdown)

[2021-08-29 23:05] zrothauser commented on #6093
@sc0ttkclark That change to set the `value` on fields to an empty string will cause other issues, and actually should already happen here well before the field is rendered:
https://github.com/pods-framework/pods/blob/release/2.8/ui/js/dfv/src/pods-dfv.js#L128-L136

It could be that the API provides null, where this is checking for `undefined`, and this check isn't adequate for that?

[2021-08-29 23:07] sc0ttkclark commented on #6093
Hmm ok let's revisit this. To reproduce this, go to add new post for a post type and you'll see the issue happening (you will need to remove the `value || ''` workarounds in the fields)

[2021-08-30 09:27] justdudeone commented on #6097
I have researched and thought about this whole task again and make conclusion that the best way to implement Swatches (Images/Icons/Colors) to Pods with Filtering possibility is to:
I) Add to Pods fields "Media -> Icon and Color" fields.
II) Ask FacetWP (still it's the best WP Filter) to add simple improvements:
+ for Fields "Checkbox, Radio, Hierarchy" add possibility to choose not only Taxonomy,

[2021-08-30 10:50] JoryHogeveen commented on #6098
This can be done using templates. You can set your own templates and insert the icons where you want.

[2021-08-30 11:06] justdudeone commented on #6098
Suppose it require manual CSS coding etc? It just break overall nice Pods GUI conception!

[2021-08-30 11:29] JoryHogeveen commented on #6098
Yep, it will require CSS etc.
However, that is the case with all front-end customizations.
Pods does not do any front-end CSS.

[2021-08-30 11:37] justdudeone commented on #6098
Assign Image/Icon/Color to Pods Group/Field - is not frontend, it's also VERY useful as huge databases BACKEND for easy input, avoid mess, etc

[2021-08-30 16:59] sc0ttkclark opened #6100 "[Pods 2.8 Bug] File/relationships not loading selected values"
## Pods 2.8 version

2.8.0-b-5

## Description

After saving with a single/multi file or relationship field (I tested with a relationship to another post type) -- I see the page reloads and the values of other fields will show but the file field appears empty and the relationship field has no checkboxes selected (multi checkboxes). The fieldItemData has `selected` set true for the current value(s)

[2021-08-30 17:01] sc0ttkclark opened #6101 "[Pods 2.8 Bug] date/datetime/time fields render on load as raw value, not formatted"
## Pods 2.8 version

2.8.0-b-5

## Description

From Slack: https://podswp.slack.com/archives/C02SWND14/p1629413814066000

[2021-08-30 17:03] sc0ttkclark opened #6102 "[Pods 2.8 Bug] date/datetime fields not validating year ranges on text change (picker is fine)"
## Pods 2.8 version

2.8.0-b-5

## Description

From Slack: https://podswp.slack.com/archives/C02SWND14/p1629419255069300

[2021-08-30 17:06] sc0ttkclark commented on #6089
Fixed WYSIWYG issue with removing all HTML tags. That's now resolved via 5e60a54eb58edfb6dfbcbbfdcc79ed8b66ca1072

[2021-08-30 17:06] #6089 closed

[2021-08-30 17:18] sc0ttkclark opened #6103 "[Pods 2.8 Bug] Plugin opt-in tracking showing even after clicking allow/do not allow"
## Pods 2.8 version

2.8.0-b-5

## Description

The new opt-in tracking seems to be showing even after you've chosen. It does not stop showing the notice. Maybe there's a problem saving the value, or maybe the logic on whether to show is busted.

[2021-08-30 17:33] sc0ttkclark opened #6104 "[Pods 2.8 Bug] Package import doesn't work for certain hosts, needs file upload"
## Pods 2.8 version

2.8.0-b-5

## Description

On certain hosts like Nexcess, the JSON package import will trigger a mod_security rule that stops the process from completing. To get around this, we should be submitting the JSON file itself.

We can keep the package textarea but if they select the JSON file then it should not just put that into the textarea, it should leave it in the file field fo

[2021-08-30 19:35] JoryHogeveen commented on #6098
For the backend you can actually already add dashicons as label prefixes. You can manually enter the icon HTML inside the field label to see it's icon in the backend.
For front-end however this is separate. You can then even use a totally different icon library.

[2021-08-30 19:51] JoryHogeveen commented on #6094
Is it correct that the file field still uses the "older" DFV code? I see a jQuery.sortable() reference there:
https://github.com/pods-framework/pods/blob/release/2.8/ui/js/dfv/src/fields/file/views/file-upload-list.js#L62-L68

[2021-08-30 21:22] zrothauser commented on #6094
@JoryHogeveen The file field uses the old code (with a wrapper around it, to try to force it to work inside React), but the relationship field does not.

[2021-08-31 01:13] sc0ttkclark opened #6105 "[Pods 2.8 Bug] Clicking field label does not click into field"
## Pods 2.8 version

2.8.0-b-5

## Description

When clicking labels for text fields and others, it does select into the field like normal `<label for="...">` will do. I'm worried that this will decrease accessibility for us.

## Testing instructions

1. Go to Pods Admin > Edit Pod > Edit screen
2. Click on any field labels in Pod tabs, Group modal, or Field modal
3. See that the field is not sele

[2021-08-31 01:14] sc0ttkclark commented on #6104
Addressed this with new inline help for the package code textarea and made the file upload more prominent.

[2021-08-31 01:27] sc0ttkclark commented on #6104
Screencast of it working: https://share.skc.dev/xQu66Zm0

Implemented via https://github.com/pods-framework/pods/commit/a75d4c78ad2289631c824d50dc424dd5cc0ebdcd

[2021-08-31 01:27] #6104 closed

[2021-08-31 07:30] justdudeone commented on #6098
Not for frontend only, not for backend only, not by manual crutches/kludges/tricks, etc.

It just can be done right - for backend and for frontend and native - by adding icons/images/colors to Groups and Fields.

[2021-08-31 07:47] JoryHogeveen commented on #6098
I've added the correct addon/feature labels to this issue. If there is enough interest in such a feature we will make resources available to build this.
However, to be honest, I don't expect this to be anytime soon. Are are most welcome to contribute to Pods if you need this feature earlier!

[2021-08-31 08:01] justdudeone commented on #6098
I'm extremely generous man - I help to tons of free projects to become better and to many people who really need help. Unfortunately I live in a backward country (also with protracted economic crisis and mass imitation of work and arranging good jobs only by acquaintance for budget stealing etc) - thus as honest person without acquaintance I get too low income now to pay at your (USA/Europe) taxes

[2021-08-31 08:16] justdudeone opened #6106 "Fields - Order By - help&examples"
Hello,
I've create Pods Custom Taxonomies and fill them with tons of Terms. Unfortunately WP does not have any functions for Terms custom ordering. (For example WooCommerce many time ago implement simple and effective "drag&drop" reordering of Products Attributes Terms). Thus I've found similar function for WP Taxonomies by plugin "YIKES Simple Taxonomy Ordering". Then I create Pods CPT with field

[2021-08-31 08:49] justdudeone opened #6107 "> simbol from taxonomies at relationship field display broken"
Hello,
Very simple problem - at Taxonomies I've create some Terms with symbols "<" and ">" - they are very useful for numbers ranges, for example: ">10'000" or "<1" or etc. All such symbols display absolutely correctly at WP Taxonomies! But at Pods Relationship field they displays incorrectly as "&gt;" - what is very pity, because those symbols are really very useful! Can you fix it, please!

[2021-08-31 10:16] JoryHogeveen opened #6108 "Add Kosovo to country list"
## Description

"Kosovo" is a relatively new EU country (2008).

[2021-08-31 15:41] JoryHogeveen commented on #6106
Hello @justdudeone

Please see this topic: https://wordpress.org/support/topic/custom-field-relashionship-taxonomies-how-order-and-hide-from-post/

[2021-08-31 15:41] #6106 closed

[2021-08-31 16:01] JoryHogeveen commented on #6107
@sc0ttkclark

This is related to the following commit history:

- https://github.com/pods-framework/pods/commit/6d5855d54bdd51d582dec436dda61bbae58091dc
- https://github.com/pods-framework/pods/commit/bde11be1a403e491d84c561365a5cc722f045080
- https://github.com/pods-framework/pods/commit/bb29674d3439325810aa8fe5cc1fed2609f299ea
- https://github.com/pods-framework/pods/commit/f66da4b787a62c83c41eb

[2021-08-31 19:20] tprinty opened #6109 "Permalink Structure Broken/Rewrite"
## Description

I have had to revert to using the standard WP query structure for PODS that existed before  2.7 and created in 2.7.

Example of a new POD not working with default settings. https://nelsonhill.com/test-pod/test/

## Testing instructions

1. Create a New POD
2. Add Title field to POD
3. Add body field to POD
4. Add Content to the new POD type
5. Try to view new POD content

## Expect

[2021-09-01 03:18] sc0ttkclark opened #6111 "[Pods 2.8 Bug] Relationship Field w/ List View for non-simple relationships not showing text on load"
## Pods 2.8 version

2.8.0-b-5

## Description

Relationship field with List View set is not showing the text on load. Simple custom defined lists work fine.

## Testing instructions

1. Have a Relationship field related to a Post Type or Taxonomy with List View set
2. Go to add/edit content and select some items for that field
3. On load of the form, see that the list is missing text, edit icon,

[2021-09-01 03:30] sc0ttkclark commented on #6100
Fixed via https://github.com/pods-framework/pods/pull/6110

[2021-09-01 03:30] #6100 closed

[2021-09-01 03:30] sc0ttkclark commented on #6093
Fixed via https://github.com/pods-framework/pods/pull/6110

[2021-09-01 03:30] #6093 closed

[2021-09-01 03:30] sc0ttkclark commented on #6090
Fixed via https://github.com/pods-framework/pods/pull/6110

[2021-09-01 03:30] #6090 closed

[2021-09-01 03:31] sc0ttkclark commented on #6099
Fixed via https://github.com/pods-framework/pods/pull/6110

[2021-09-01 03:31] #6099 closed

[2021-09-01 13:17] eeboo opened #6112 "[BUG] deleting a field is not possible for some advanced content type pods"
## Description
deleting a field from an advanced content type pods is not possible

## Testing instructions

1. Go to edit an advanced content type pods
2. delete a field and save pods (not relation field)
3. add try to add a new entry with the modified pods
4. See SQL error message indicating that the previously deleted field does not exist when trying to insert

Have you ever seen this error mes

[2021-09-02 00:22] pdclark opened #6113 "Bi-directional user<>taxonomy relationship field does not effect database on taxonomy screen"
## Description

When using a bi-directional field to assign a custom taxonomy to a user,
The user interface updates as if the taxonomy assignment has been updated,
but the database does not update.

## Testing instructions

Create a bi-directional relationship field between a custom taxonomy and users.
Assign the taxonomy also to some post type so that admin menu shows up.
Assign the user to a tax

[2021-09-02 05:42] lamujeresponja commented on #6044
Thanks. All right!

[2021-09-02 12:17] vitmarks opened #6114 "[Pods 2.8 Bug] moving fields drag and drop between groups not possible"
## Pods 2.8 version

2.8.0-b-5

## Description

sorry if it is already discussed, but could not find it, but moving fields drag and drop between groups not possible? or i cannot find where i can change the group of a field. should i delete it and create it again on the other group?

## Testing instructions

create new CPT and create few groups and within all groups some fields. Now try to move a f

[2021-09-02 15:41] JoryHogeveen commented on #5862
Hi @lkraav
The only problem with that package is that is isn't extendable with filters to add custom contexts as far as I can see.

[2021-09-02 18:06] sc0ttkclark commented on #6105
Fixed via https://github.com/pods-framework/pods/pull/6115

[2021-09-02 18:06] #6105 closed

[2021-09-02 18:06] sc0ttkclark commented on #6111
Fixed via https://github.com/pods-framework/pods/pull/6115

[2021-09-02 18:06] #6111 closed

[2021-09-02 18:07] sc0ttkclark commented on #6032
Fixed via https://github.com/pods-framework/pods/pull/6115

[2021-09-02 18:07] #6032 closed

[2021-09-02 18:08] sc0ttkclark commented on #4644
Ready for QA test @pdclark

[2021-09-02 18:08] sc0ttkclark commented on #1902
Ready for QA test

[2021-09-02 18:09] sc0ttkclark commented on #5939
I think we can close this now via #6095

[2021-09-02 18:09] #5939 closed

[2021-09-02 18:15] JoryHogeveen commented on #5945
@carlosrovira

Sorry for my late reply.
But no, I mean that the `order` as a value for `orderby` isn't correct unless `order` is an actual field in your Pod.
However, it looks like `nombre` is your order field or am I incorrect in assuming this?

[2021-09-03 06:50] lkraav commented on #5862
Possibly, I'm in the beggining phases with it myself, through another Inpsyde package I'm using.

But this maybe begs the questions, how many context should be defined, and if we think we need more, is there a problem with modelling our problem?

[2021-09-03 07:29] JoryHogeveen commented on #5862
In this case we have the `modal` and `builder` context as well.

Modal: Pods modal popup
Builder: Frontend layout with page builder active

These are both quite important contexts in this case but are not part of WP core.

[2021-09-03 14:54] sc0ttkclark opened #6116 "[Pods 2.8] Upgrade blocks to apiVersion 2"
## Description

We should look at upgrading our blocks to apiVersion 2 (WP 5.6+) and determine what's necessary to support that. I tried briefly and none of the blocks could be selected but they could be added / set options / used. Upon going to add another block or edit the title, you can't select any of our blocks anymore.

[2021-09-03 17:31] sc0ttkclark opened #6117 "Add wp.hooks usage to DFV and Block JS"
We should add filters for people to further customize some areas.

[2021-09-03 18:42] sc0ttkclark opened #6118 "Add support for opacity (alpha) on color field type"
A few changes to make this possible:

* In our Block implementation, we should support removing `disableAlpha`
* In our DFV field type for color, we should support removing `disableAlpha`
* Add the UI option to the color field type

The caveat here is that Iris does not support alpha so this would only be supported for DFV/Block fields and not any fields using `'disable_dfv' => true`

[2021-09-03 18:52] sc0ttkclark commented on #6114
@zrothauser can you remind me the historical issue that we faced initially trying to do this? What kind of effort is involved in solving it post-Repeatable Fields DFV work?

[2021-09-03 21:25] zrothauser commented on #6114
@sc0ttkclark This is a duplicate of https://github.com/pods-framework/pods/issues/5937. I believe it was just the complexity of restructuring the drag-and-drop to work between groups and not just inside of them.

[2021-09-03 21:27] sc0ttkclark commented on #6114
@zrothauser thanks! I'll close this one as a duplicate and we can continue looking into it over in 2.9 after repeatable fields

[2021-09-03 21:41] #6114 closed

[2021-09-04 15:52] sc0ttkclark opened #6119 "Lock field save when bidirectional field list is still loading"
We should lock the field save button when bidirectional field list is still loading. Otherwise it's possible that the config with no-bidi field set would be saved, even if the field was set and has not yet shown up due to the loading. Or at least that would be the impression. Could be a data store thing that saves us here, but we should implement this for a more consistent UI experience.

[2021-09-06 02:53] sc0ttkclark opened #6120 "Closing keyboard on iPadOS/iOS closes modal"
When adding / editing groups or fields, the modal will close when you press the hide keyboard button.

![iPadOS](https://user-images.githubusercontent.com/709662/132154065-2c999804-eefa-4dba-bfc8-1289a8176e92.jpeg)

![iOS](https://user-images.githubusercontent.com/709662/132160657-6c4209e1-e010-4a3e-9262-6b3ce87e3f5a.jpeg)

[2021-09-06 16:03] bencodesall commented on #5868
What does need votes actually mean (issue status tag), and how do I add a vote? This feature request is pretty urgent, I would say!

[2021-09-07 02:40] millionleaves opened #6121 "[Pods 2.8 Bug] When max length is zero, it won't let you type"
## Pods 2.8 version

2.8 RC1

## Description

When adding a Plain Paragraph Text field, the Maximum Length is set to 0 by default, which makes it impossible to add any text to the field. Should be set to a minimum length, e.g. 255 characters.

## Testing instructions

1. Add a Plain Paragraph Text field to a Pod.
2. Try to add text to the field. Nothing happens.

## Expected behavior

1. Add a Pla

[2021-09-07 04:11] millionleaves opened #6122 "Can't create a related post when editing the post it will relate to"
## Description

In Pods 2.7, I rely heavily on two-way relationships. An example is to have a Service CPT and a Testimonial CPT with a relationship between them.

When editing a Service post, I can either choose from a list of existing testimonials, or click New to add a new testimonial.

In Pod 2.8, this works up until the point when I click Publish on the new Testimonial. The testimonial is crea

[2021-09-07 04:19] millionleaves opened #6123 "Field Groups - allow fields to be moved to different field groups"
## Problem

I suspect this may be coming later, but it would be useful to rearrange existing fields into new field groups in Pods 2.8. Field Groups is a big deal for me,

## Proposed Solution

1. Provide the ability to drag fields between field group.
2. Provide a selection option on each field to choose a different field group

## Workaround

I've managed so far by manually editing the wp_postmet

[2021-09-07 04:26] millionleaves opened #6124 "Field Group description doesn't display when editing a post"
## Description

The Description for a field group does not appear when editing a post with that field group.

## Testing instructions

1. Add a field group and set the description OR set a description on an existing field group.
2. Create/edit an instance of the associated CPT. The description is not visible.

## Expected behavior

Ideally, I'd expect this to appear at the top of the field group s

[2021-09-07 19:19] sc0ttkclark commented on #6120
Fixed via https://github.com/pods-framework/pods/pull/6125

[2021-09-07 19:19] #6120 closed

[2021-09-07 21:32] allcarmillicent opened #6126 "Edit content not working, error 500"
When pods is active I get an error 500 screen when I click on edit a post, page or product.
Deactivate pods and the post, pages and products will open.
Has anyone had this problem before?

[2021-09-09 03:41] sc0ttkclark opened #6127 "Show 'loading' indicator when saving groups or fields from modal"
Currently the save process does not grey out the save/cancel button and does not show any indicator that it is saving.

When you save a pod, it greys out the save button and shows a loading indicator.

We should try and do something similar for the modal because it's not immediately clear that it's saving.

[2021-09-09 03:43] sc0ttkclark commented on #5868
I built an in-depth WPGraphQL integration for Pods and it works exactly as you'd hope with relationships -- with connections! It's pretty useful, check it out here: https://pods-pro.skc.dev/downloads/wpgraphql-integration/

[2021-09-09 03:43] #5868 closed

[2021-09-09 03:46] sc0ttkclark commented on #5059
Just following up (late) on this -- I built an in-depth WPGraphQL integration for Pods and it works exactly as you'd hope with relationships/files -- with connections! It's pretty useful, check it out here: https://pods-pro.skc.dev/downloads/wpgraphql-integration/

[2021-09-09 03:47] sc0ttkclark commented on #6019
Agree on this -- the WPGraphQL solution is very ideal for this kind of need.

Further, I built an in-depth WPGraphQL integration for Pods and it works exactly as you'd hope with relationships/files -- with connections! It's pretty useful, check it out here: https://pods-pro.skc.dev/downloads/wpgraphql-integration/

[2021-09-09 03:47] #6019 closed

[2021-09-09 03:48] sc0ttkclark commented on #5785
Sessions have been addressed in Pods 2.8 🎉

[2021-09-09 03:48] #5785 closed

[2021-09-09 03:55] sc0ttkclark commented on #6121
Fixed via e8e50c44cc687eb64ff0d16ab3026e62cf7f7833

[2021-09-09 03:55] #6121 closed

[2021-09-09 03:56] sc0ttkclark commented on #6123
Duplicate of #5937

[2021-09-09 03:56] #6123 closed

[2021-09-09 03:59] sc0ttkclark commented on #5937
Here's a temporary solution, run this query to change the group a field is associated to:

[code]

* `111` being the new group ID.
* `222` being the field ID you want to change the group for.

Once you do that, be sure to go to Pods Admin > Settings > Clear Pods Cache

[2021-09-09 04:00] bencodesall commented on #5868
Yeah, but still requires unreleased version of pods (2.7.30 is current) for production usage ... waiting on release 2.8 thanks.

[2021-09-09 04:56] sc0ttkclark commented on #6124
I don't think we have the descriptions showing anywhere right now, I'll go and look and see what we should do for this in the mean time. That might be to just disable the description field for now or to add support for a simple `wpautop()` output of the description.

[2021-09-09 04:57] sc0ttkclark commented on #6126
Is this with Pods 2.7 or Pods 2.8?

Do you have any other details? Do you see other errors on the screen when you set `define( 'WP_DEBUG', true );` in your wp-config.php file?

[2021-09-09 15:27] andrerds commented on #5868
Hi, how are you @beekbarkbork ,
 I'm looking forward to this version. Congratulations to the devs :D

[2021-09-09 21:41] pdclark commented on #4644
QA didn't pass — bi-directional field could be selected in 2.8, but fields did not auto-associate bi-directionally.
@sc0ttkclark

[2021-09-09 21:44] sc0ttkclark commented on #4644
Gotcha, we will move this to 2.9 and try to tackle it on the field save process.

[2021-09-09 22:04] mircobabini opened #6128 ""Field xyz already exists" when creating an Advanced pod"
## Description

When saving the new pod structure, seems like the db gets dirty if there's an errored field.

## Testing instructions

1. Install pods and activate advanced types
2. Create a new advanced pods
3. Add a new "test" field and move it at 2nd place (just after Name)
4. Remove the "author" field
5. Create a new "author" field and move it at 3rd place (just after test)
6. Save the pod =>

[2021-09-10 01:51] morgank-atl opened #6129 "Conflict with Ninja Forms"
Don't know if this is something that you'll look into but I have a pro account with Ninja Forms and use them on all my sites. Unfortunately I just diagnosed an issue I was having with creating a new form as a conflict with Pods. I will report this issue to Nina Forms dev team as well. I love Pods and want to use it, and Ninja Forms.

If there's anything you might need for troubleshooting let me kn

[2021-09-10 18:08] techprogrammer opened #6130 "iPad Chrome Browser App - Cannot Change Time in DateTime picker"
Using iPad  - Chrome Browser App

When trying to change a Date/Time - You Cannot Change Time in the picker because it is disabled.

![132892499-5611a6ea-5001-45ba-be6a-6c6b1eb9a1a3](https://user-images.githubusercontent.com/5952458/133003401-a7b1576a-2156-4f12-862f-0ef386161b8c.jpg)

iPad Pro 12.9 Gen4
iOS 14.7.1
Chrome App 93.0.4577.39

Wordpress 5.81
Pods 2.7.30

1. Go to a Wordpress and setup a

[2021-09-10 22:08] pdclark opened #6131 "[Pods 2.8 Bug] Single Dropdown & Radio relationship fields not saving"
## Pods 2.8 version

`2.8.0-rc-1`

## Description

Single-select Dropdown and Radio relationship fields appear to not be saving.

For drop-down
* The database appears to get an incorrect ID saved to the meta.
* UI for field shows blank after reload.

For radio
* Database appears to save correct value.
* UI for field shows blank after reload.

## Testing instructions

Package export:
[code]

- Crea

[2021-09-11 01:31] sc0ttkclark commented on #6128
This should naturally be resolved by Pods 2.8 since the new edit screen doesn't batch save all fields at once and prevents a conflict like this from occurring.

[2021-09-11 01:32] #6128 closed

[2021-09-11 01:32] sc0ttkclark commented on #6129
Which version of Ninja Forms and which version of Pods does this occur on? Do you see any other errors in your browser console?

[2021-09-11 01:34] sc0ttkclark commented on #6130
I'll check this out but if you have a staging site you can try running Pods 2.8 on, it'd be great to know if it's resolved already on that for you. I'll look more this weekend.

[2021-09-11 03:51] sc0ttkclark commented on #6112
Do you see any difference after you go to Pods Admin > Settings > and click "Clear Pods Cache"?

[2021-09-11 03:53] sc0ttkclark commented on #6109
Do you see any difference after you go to Pods Admin > Settings > and click "Clear Pods Cache"?

[2021-09-11 04:59] eeboo commented on #6112
already tested the clear pods cache with no effect

[2021-09-11 12:59] coding-panda opened #6132 "[Pods 2.8 Bug] Pods Form ID Field"
## Pods 2.8 version

Version 2.8.0-rc-1

## Description

Pods form is working now but displays an ID field. It causes problems when users change the ID number and save, especially in relational databases.

## Testing instructions

1. Create a pod, normal or advanced, or use my exported Pods package below.
2. On the page template, add this code: $pod = pods( 'member' ); echo $pod->form( ); The Memb

[2021-09-11 13:59] sc0ttkclark opened #6133 "[Pods 2.8 Bug] Network requests never end if they fail on Edit Pod screen"
When a network request is made from the Edit Pod screen, and if it fails, it keeps retrying. It never stops retrying.

I'm not sure if this is limited to the Delete Field network request or not.

I had my test site open over the past couple of days and then I went to refresh the page and start to manage the fields on a pod. I then deleted a few fields but then noticed the Save Pod button wasn't wo

[2021-09-11 14:01] sc0ttkclark opened #6134 "Deleting field should show status indicator or not delete until confirmed"
When deleting a field, it appears to be removed immediately. This is a false sense of deletion because the REST API call may have been started but it has not yet been confirmed.

We need an inbetween stage where the row can't be messed with because the deletion is in progress. If the deletion fails via #6133 then we should enable the row for the admin to try to delete again.

[2021-09-11 14:06] sc0ttkclark opened #6135 "[Pods 2.8 Bug] Network requests never end if they fail on Block Editor server-side render"
When a network request is made from the Block Editor for the server-side render, and if it fails, it keeps retrying. It never stops retrying.

I had my test site open over the past couple of days and then I went to go to the Edit Page screen where it has blocks and the server-side render requests just keep going on loop. The network responses from the server-side render appear to continue forever

[2021-09-12 12:38] morgank-atl commented on #6129
### Environment ###
Ninja Forms Version:     3.5.8
Ninja Forms DB Version:  1.4
Ninja Forms Gatekeeper:  33
Ninja Forms "Dev Mode":  Disabled
WP Version:              5.8.1 - Supported
WP Multisite Enabled:    No
Web Server Info:         Apache
PHP Version:             7.4.23
MySQL Version:           5.5.5
SQL Version Variable:    10.3.31-MariaDB
PHP Locale:              negative_sign: </br>
WP Me

[2021-09-12 12:41] morgank-atl commented on #6129
Console log:

jquery-migrate.min.js?ver=3.3.2:2 JQMIGRATE: Migrate is installed, version 3.3.2
DevTools failed to load source map: Could not load content for https://[SITEURL]/wp-content/plugins/ninja-forms/assets/js/lib/backbone.marionette.min.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
VM472:1 XHR finished loading: POST "https://[SITEURL]/wp-admin/admin-ajax.php".
(a

[2021-09-12 21:34] techprogrammer commented on #6130
Will test 2.8.

I don’t see 2.8 in the releases. How do I download it?
https://github.com/pods-framework/pods/releases

From: Scott Kingsley Clark
Sent: Friday, September 10, 2021 6:34 PM
To: pods-framework/pods
Cc: techprogrammer ; Author
Subject: Re: [pods-framework/pods] iPad Chrome Browser App - Cannot Change Time in DateTime picker (#6130)

I'll check this out but if you have a staging site y

[2021-09-13 04:50] sc0ttkclark commented on #6130
Follow the testing instructions at: https://pods.io/2021/02/11/pods-2-8-beta-1-released-and-the-field-guide-to-pods-2-8/

Here's where the code is located: https://github.com/pods-framework/pods/tree/release/2.8

[2021-09-13 17:51] datverse opened #6137 "Add new Field Type: Table"
Hi,
Can I request a new feature is: Add new Field Type: "Table"?
It's like: Advanced Custom Fields: Table Field
https://wordpress.org/plugins/advanced-custom-fields-table-field/

`It's generate <table> html in the front end.`

Thanks

[2021-09-14 03:00] lesliecdubs commented on #5059
Nice! Thanks for the update!

[2021-09-15 18:59] zrothauser commented on #6131
@sc0ttkclark The first part of this (with the single dropdown) looks like an issue with the fieldItemData that is provided for Select fields when the pick_val is a CPT. Instead of the `id` attribute being a post ID, it's an index starting at 0 after the placeholder. That's the value that then gets saved.

[code]

The second part of this (with the radio buttons) is a typing issue, I'll have a PR to

[2021-09-15 19:00] sc0ttkclark commented on #6131
I will fix the fieldItemData id issue @zrothauser, thanks!

[2021-09-16 03:16] millionleaves opened #6141 "Text gets lost when pasting text into a WYSIWYG text area field."
## Pods 2.8 version

2.8 RC1

## Description

1. Copy and paste text from Word into a WYSIWYG field with existing content in Visual mode.
2. Switch to Text mode. New and old text is visible.
3. Switch back to Visual mode. New text has disappeared.

## Expected behavior

New text not disappearing would be nice :)

## Screenshots / screencast

https://www.loom.com/share/2db15bc19cb743cd9283bccf04718

[2021-09-16 04:36] sc0ttkclark commented on #6131
Fixed the fieldItemData id issue via e9b508f0c3a66b08a876a11818a4235552a07163

[2021-09-16 04:38] sc0ttkclark commented on #6122
Fixed via https://github.com/pods-framework/pods/pull/6140

[2021-09-16 04:38] #6122 closed

[2021-09-16 04:38] sc0ttkclark commented on #6131
Fixed via https://github.com/pods-framework/pods/pull/6140

[2021-09-16 04:38] #6131 closed

[2021-09-16 04:41] sc0ttkclark commented on #6129
This was addressed in Pods 2.8, if you have a staging site you can test to confirm that. The official Pods 2.8 release will be as soon as we resolve the remaining open bugs.

Follow the testing instructions at: pods.io/2021/02/11/pods-2-8-beta-1-released-and-the-field-guide-to-pods-2-8

Here's where the code is located: https://github.com/pods-framework/pods/tree/release/2.8

[2021-09-16 04:42] sc0ttkclark commented on #6112
We'll want to retest this for Pods 2.8 as it should no longer be a problem. If you have a staging site to test on, that would be helpful for you to confirm on your side.

Follow the testing instructions at: pods.io/2021/02/11/pods-2-8-beta-1-released-and-the-field-guide-to-pods-2-8

Here's where the code is located: https://github.com/pods-framework/pods/tree/release/2.8

[2021-09-16 04:45] sc0ttkclark commented on #6124
Going to disable the group description fields for now and treat this as a future enhancement.

[2021-09-16 04:50] sc0ttkclark commented on #5188
@papa-pup

Follow the testing instructions at: https://pods.io/2021/02/11/pods-2-8-beta-1-released-and-the-field-guide-to-pods-2-8/

Here's where the code is located: https://github.com/pods-framework/pods/tree/release/2.8

[2021-09-16 04:50] millionleaves commented on #6124
Just a thought - how about adding a pseudo field that doesn't take any input on the front end? This would allow a developr to add more than one to a field group to provide instruction and guidance, and position them between other fields as needed.

[2021-09-16 05:03] sc0ttkclark commented on #6132
Fixed via e545c491a6efcc832203ec6d533819cb22649550

[2021-09-16 05:03] #6132 closed

[2021-09-16 12:03] morgank-atl commented on #6129
Thank for this. I don't have a test environment since my sites are pretty basic in terms of plugins and I don't do custom code other than CSS. I did find a temporary fix but look forward to the 2.8 release.

[2021-09-16 12:03] #6129 closed

[2021-09-16 19:48] sc0ttkclark commented on #6101
Let's punt the reformat on change for the future, it would be great to reformat when people enter values (like we do for number/currency fields) at some point.

[2021-09-16 22:12] pdclark commented on #5515
Worked for me — List relationship selector keeps order saved and does not alphabetize.

<img width="1291" alt="Screen Shot 2021-09-16 at 3 11 51 PM" src="https://user-images.githubusercontent.com/126889/133692415-1036570d-1e89-4173-a8a4-daf688afb37e.png">

[2021-09-16 22:20] pdclark commented on #6130
Can't test this on iPad Chrome because I don't have an iPad, but in iOS Chrome for iPhone, the Date/Time picker doesn't display at all; the keyboard displays instead.

[2021-09-16 22:33] pdclark commented on #1902
QA mostly didn't pass:
- Deleting the role caused the toggle to no longer appear in the relationship field options.
- Choosing a new role and saving didn't remove the old deleted role from the array.

<img width="597" alt="Screen Shot 2021-09-16 at 3 31 37 PM" src="https://user-images.githubusercontent.com/126889/133694099-6540ef14-7b7a-4331-838d-bf3f51ae6869.png">
<img width="514" alt="Screen Sho

[2021-09-16 22:54] pdclark commented on #5188
QA failed: Add File appears from plupload, but pressing button does nothing on iOS Safari. WP upload option works fine.

[2021-09-16 23:07] #5515 closed

[2021-09-17 00:25] sc0ttkclark commented on #6101
Fixed via https://github.com/pods-framework/pods/pull/6142

[2021-09-17 00:25] #6101 closed

[2021-09-17 00:26] sc0ttkclark commented on #6102
Fixed via https://github.com/pods-framework/pods/pull/6142

[2021-09-17 00:26] #6102 closed

[2021-09-17 16:26] zrothauser commented on #6135
This only applies if the error is due to an invalid nonce.

The retry comes from the WP core `api-fetch` wrapper around `fetch`:
https://github.com/WordPress/gutenberg/blob/trunk/packages/api-fetch/src/index.js#L172-L185

[2021-09-17 16:26] #6135 closed

[2021-09-17 16:26] zrothauser commented on #6133
This only applies if the error is due to an invalid nonce.

The retry comes from the WP core `api-fetch` wrapper around `fetch`:
https://github.com/WordPress/gutenberg/blob/trunk/packages/api-fetch/src/index.js#L172-L185

[2021-09-17 16:26] #6133 closed

[2021-09-18 05:03] sc0ttkclark commented on #5925
This feature requires table storage set for the Pod or an Advanced Content Type.

[2021-09-18 05:03] #5925 closed

[2021-09-19 21:47] allcarmillicent commented on #6126
Hi Scott, Here is the full-screen message,
There has been a critical error on this website. Please check your site admin email inbox for instructions.

Learn more about troubleshooting WordPress.

[2021-09-19 22:50] sc0ttkclark commented on #6126
@allcarmillicent is this with Pods 2.7.30?

[2021-09-20 10:00] allcarmillicent commented on #6126
yes

[2021-09-20 10:09] allcarmillicent commented on #6126
the issue must be linked to another plugin,
So I deactivated all plugins added WooCommerce and pods and it words fine.
when I find out what the problem is I will post an update

[2021-09-20 11:42] puntaschoice opened #6144 "[Pods 2.8 Bug] Field not showing in REST API for extending post type"
## Pods 2.8 version

2.8.0-rc.1

## Description

Having setup a pod in 2.7.30 by Extend Existing from a themes Post type, this would show fine in 2.7.30 via REST API as a field returned, but switching over to 2.8.0-rc.1, it fails to show.

## Testing instructions

1. Create POD in 2.7.30
Extend Pod of theme - Post Type, Portfolio
2. Create a field in the pod - "plu" as a number "1234,00" length 4,

[2021-09-21 02:10] millionleaves opened #6145 "File/Image/Video field, Multiple Files, max files set to 0"
## Description

I changed a File/Image/Video field from single to multiple and found I couldn't upload any more. The Max Number of Files field was set to 0. Changed it to 6 and was able to upload more.

**Another related issue** - when adding a 7th image (when limit set to 6) the first image is removed to make room for the new image. I assume it should not be possible to add any more images after

[2021-09-21 02:23] thuycoi commented on #2144
Hi all. Is there any Tutorial for this topic? I tried everything but some how cannot connect my pods to another site in my multsite network.

[2021-09-22 15:48] JoryHogeveen opened #6146 "[Pods 2.8 Bug] Post ID isn't passed using Plupload AJAX uploader"
Might also be a 2.7 issue. Going to test a.s.a.p.:
Initial report: https://wordpress.org/support/topic/magic-tags-in-custom-upload-directory/

## Pods 2.8 version

2.8.0-rc.1

## Description

When using Plupload we also send the current post. This is used for uploading context.
This isn't send anymore in Pods 2.8
https://github.com/pods-framework/pods/blob/main/classes/fields/file.php#L535-L540

#

[2021-09-22 16:03] sc0ttkclark commented on #6134
Fixed via https://github.com/pods-framework/pods/pull/6143

[2021-09-22 16:03] #6134 closed

[2021-09-22 16:03] sc0ttkclark commented on #6127
Fixed via https://github.com/pods-framework/pods/pull/6143

[2021-09-22 16:03] #6127 closed

[2021-09-22 16:43] sc0ttkclark commented on #1902
Something for the backlog but this would be good to sort out from the DFV side of the field.

[2021-09-22 17:58] sc0ttkclark commented on #5188
We'll need to do some further research to see why iOS Safari won't work for plupload and why Android Chrome won't allow scrolling through list of multiple files uploaded.

[2021-09-22 21:37] sc0ttkclark commented on #6103
I haven't been able to track down the exact cause for this yet, if anyone sees this problem -- please let me know if you continue to see it after flushing your object cache. Perhaps it's something with the autoloaded options?

[2021-09-22 23:11] sc0ttkclark commented on #6103
I think the work I did in eef53a6ea4f0c5ce95ba14d2e562708cf33857bb and the commits before that should have resolved this totally by making sure Pods will set it's own opt-out setting accordingly.

[2021-09-22 23:11] #6103 closed

[2021-09-22 23:29] sc0ttkclark commented on #6130
Confirmed as resolve when testing on my iOS 15 iPad Pro via Chrome

[2021-09-22 23:29] #6130 closed

[2021-09-22 23:30] sc0ttkclark commented on #6126
Let us know if you find anything else out here

[2021-09-23 01:24] sc0ttkclark commented on #6113
Fixed via work in `release/2.8` right now, can you retest on 2.8 @pdclark?

[2021-09-23 01:26] sc0ttkclark commented on #6112
@pdclark For QA when you are able

[2021-09-23 01:35] sc0ttkclark commented on #6146
Great find!

Fixed via 39166daf2454297f55f8c8606fad0faf3975b31d

[2021-09-23 01:35] #6146 closed

[2021-09-23 01:41] sc0ttkclark commented on #6137
Love the idea, let's see if we can find more people who would like this too. If there's enough interest in it, we can look at what it will take here. It's definitely a lot of work, even taking existing solutions and trying to put them ontop of Pods for this.

[2021-09-23 02:05] sc0ttkclark commented on #6141
@zrothauser Confirmed, you'll want to put content into the field, then save it, and then reload the page.

Then try pasting some text in or changing the field value at all from visual. Go to text, then switch back to visual. It ends up just replacing the visual content with what it loaded on the page initially with. May be a state related thing here.

[2021-09-23 02:36] sc0ttkclark commented on #6145
@millionleaves I believe I've fixed the issue with the max files problem, it's no longer having a problem for me on my local site when I've been testing it. We'll have to work on adding additional logic to prevent uploading new files when it hits the limit (so it disables the field or shows a message). We'll work on that in a future release at some point.

@zrothauser The issue with reordering fil

[2021-09-23 02:47] sc0ttkclark commented on #6144
I'm seeing the field show up in REST API request using the package you provided:

![Screen Shot 2021-09-22 at 9 45 01 PM](https://user-images.githubusercontent.com/709662/134447738-00064d2e-0f9d-4249-90e9-d4172c5dc216.png)

Can you provide any other details regarding the content of your portfolio post type? It doesn't have post title or other fields enabled. I'm curious if you just edited the pack

[2021-09-23 02:53] sc0ttkclark commented on #6070
Did this end up getting figured out? Did you contact your web host about the error?

[2021-09-23 02:55] sc0ttkclark commented on #6071
We do not currently have support for conditional logic for field visibility or disable/readonly handling for that kind of case. It's built into our code to support it however it's just not exposed with the admin interface to set it all per field. That work is planned for a future release.

[2021-09-23 02:56] #6071 closed

[2021-09-23 02:56] sc0ttkclark commented on #6071
#609

[2021-09-23 03:09] sc0ttkclark commented on #6050
I'll get a maintenance release out tomorrow that addresses this.

[2021-09-23 10:27] puntaschoice commented on #6144
The portfolio type is built in from the theme, no other mod's have been made. I can give you is the theme's definition of the post type:
`

function virtue_portfolio_post_init() {

	$portfoliolabels = array(
		'name'               => __( 'Portfolio', 'virtue' ),
		'singular_name'      => __( 'Portfolio Item', 'virtue' ),
		'add_new'            => __( 'Add New', 'virtue' ),
		'add_new_item'       =

[2021-09-23 11:32] JoryHogeveen commented on #6137
Duplicate of #3456

[2021-09-23 11:32] #6137 closed

[2021-09-23 12:08] JoryHogeveen commented on #6112
@sc0ttkclark
I cannot reproduce this error on the latest 2.8 version. However, not sure if this is intended but the field still exists in the database table after removal.

[2021-09-23 12:09] JoryHogeveen opened #6148 "[Pods 2.8 Bug] i18n component - Group names aren't translated"
## Pods 2.8 version

RC-1

## Description

After migrating the i18n component to 2.8 I've forgot to add support for Group names/labels.

[2021-09-23 12:27] sc0ttkclark commented on #6112
@JoryHogeveen where does it exist? The table column is still there?

[2021-09-23 12:53] JoryHogeveen commented on #6112
Yep, table column!

[2021-09-23 13:17] JoryHogeveen commented on #6148
@sc0ttkclark I can't find any filters that I can use for group labels.
We could add a filter within get_groups in PodsMeta (`pods_groups_label` for example) but not sure what you would prefer for filter names and maybe other locations.
Important note on this is that this should ONLY affect display, not any actual settings of the `Groups` object.

[2021-09-23 13:55] sc0ttkclark commented on #6148
@JoryHogeveen I just introduced via 3d20b254a3f57aa22954d3968ab21dc24092cb6a new filters to override the label/description of any Whatsit object.

That means pods, groups, and fields all have the same exact override handling.

I suggest switching to hooking into these filters for overriding the label/description for any object:

* `apply_filters( 'pods_whatsit_get_label', $label, $this )`
* `apply

[2021-09-23 13:57] sc0ttkclark commented on #6112
OK then that's a bug we need to address in 2.8, I'll look into it.

[2021-09-23 22:34] sc0ttkclark commented on #6050
Fixed via 6647828d549e8f5db18e3ef4a41b0ccf20813991

[2021-09-23 22:34] #6050 closed

[2021-09-23 22:38] sc0ttkclark commented on #6035
Fixed via 6647828d549e8f5db18e3ef4a41b0ccf20813991 (related: #6050)

[2021-09-23 22:38] #6035 closed

[2021-09-24 01:38] sc0ttkclark commented on #6059
Resolved at some point after this, closing since it's not happening anymore.

[2021-09-24 01:38] #6059 closed

[2021-09-24 01:43] sc0ttkclark commented on #6038
Fixed in 2.8

[2021-09-24 01:43] #6038 closed

[2021-09-24 01:44] sc0ttkclark commented on #5930
Pods 2.8 will be released on October 11th and the new Pods site revamp went out this month 🎉

[2021-09-24 01:44] #5930 closed

[2021-09-24 02:43] pdclark commented on #6113
@sc0ttkclark Doesn't seem fixed here.
Checking/unchecking users on the taxonomy screen doesn't seem to affect the user meta in the database.
Tested release/2.8 at 9e53305c46a60b48f855a58647fe4f0f507288d4

[2021-09-24 02:45] sc0ttkclark commented on #6113
I'll go back to my test case and check again.

[2021-09-24 06:10] swabhav opened #6150 "Thumbnail URL not getting"
getting problem in pods 2.8rc1 {@post_thumbnail_url.large} not getting large image its getting 150x150 thumbnail image.

[2021-09-26 03:19] sc0ttkclark commented on #5239
Pods 2.8 now includes Block conversion support in the new Pods Blocks PHP API and JS API. All of the Pods Blocks will now detect their associated shortcode / attributes and convert accordingly. 🎉

[2021-09-26 03:19] #5239 closed

[2021-09-26 18:33] sc0ttkclark commented on #5150
I'd love to make this possible for post type or taxonomy based relationships.

It's tricky but I think a lot of the stuff done in Pods 2.8 should enable us make this possible.

[2021-09-26 18:34] sc0ttkclark commented on #5003
Accessibility addressed in Pods 2.8 React work, more work will continue in that area.

[2021-09-26 18:34] #5003 closed

[2021-09-26 18:42] sc0ttkclark commented on #5007
@pdclark Can you check and see if we are using field labels where they should be used now for required field error messages?

@bemdesign-er for custom error messages on submit, you can try this:

[code]

[2021-09-26 18:45] sc0ttkclark commented on #6150
@swabhav can you verify the featured image set for that post is larger than 150x150?

Can you try to pull the latest Pods 2.8 RC 1 code again from this weekend and retest, I made a few tweaks in this area yesterday.

[2021-09-27 01:12] sc0ttkclark commented on #6148
Fixed via https://github.com/pods-framework/pods/pull/6149

[2021-09-27 01:12] #6148 closed

[2021-09-27 02:13] sc0ttkclark commented on #6144
Have you tried turning off any specific plugins to see if there's a secondary conflict happening with Pods 2.8 itself?

Have you gone into the Pod in question and edited it at least once to verify the REST API is turned on for that pod and that field? I know config shows that it is, but I just wanted to confirm you see it showing up as enabled.

You may also try going to Pods Admin > Settings > Cl

[2021-09-27 02:39] sc0ttkclark commented on #6112
Fixed via 209dc7bccf20f97fd0572433ff261de640a6891f

[2021-09-27 02:39] #6112 closed

[2021-09-27 02:47] sc0ttkclark commented on #6113
@pdclark I cannot reproduce this at all. Is there anything I'm missing? Let's connect tomorrow to see if there's anything further going on here.

[2021-09-27 02:48] sc0ttkclark commented on #6113
Setting as both pass AND fail until we determine Schrödinger's bug here.

[2021-09-27 04:32] pdclark commented on #6113
https://pods.pd.cm/wp-content/mu-plugins/6113/6113-db-not-updating.mp4
(Plays on download but not in browser for some reason.)
@sc0ttkclark

[2021-09-27 08:12] swabhav commented on #6150
I'm using a 1200x675 size image.
Tried again but still not working showing 150x150 image

[2021-09-27 18:28] pdclark commented on #5007
- Labels appear in the error messages.
- Filtering the error message doesn't appear to work, or rather, the custom error message is logged to PHP error log, but not output to UI (see screenshot).
- Relationship fields don't appear to do anything in response to required. Or rather, single-select doesn't provide an option to select none, and multi-select doesn't complain if none are selected.

`'pod

[2021-09-27 21:26] puntaschoice commented on #6144
Hi Scott, I have not tired turning any plugins off, not sure there are really any other that would cause an issue in this setup.

Yes, REST API options are on at the pod and the field level, I have tried various combination off On/Off between the Pod and the Field etc. All still the same effect.

This is setup on a docker instance on my machine, I do have staging site but locked down version onlin

[2021-09-28 00:53] sc0ttkclark commented on #6113
I made some fixes to the store based on blog ID and this may have resolved the problem here. I believe the problem involved it only seeing a User pod from another site which doesn't technically exist on that site, so it failed to update the field (the field didn't exist on that pod that didn't exist...)

Let me know if the latest commits resolve the problems you were seeing here @pdclark

[2021-09-28 04:04] sc0ttkclark commented on #6150
I just fixed what I believe to be the problem here via 1a4c7ab6d49553a2f90fe051cb40826167ae16e0

Can you retest with the latest code and confirm whether it has resolved your problem? I wrote unit tests for this and other similar notation to be sure it worked so this won't come back up in the future.

[2021-09-28 08:23] po8digital opened #6152 "[Pods 2.8 Bug] count(): Parameter must be an array or an object that implements Countable"
## Pods 2.8 version

2.8.0-rc.1

## Description

`count(): Parameter must be an array or an object that implements Countable`

## Screenshots / screencast

![count-must-be-an-array-or-an-object-that-implements-countable](https://user-images.githubusercontent.com/37078587/135050982-07723c78-09d7-48d6-9378-853a1c38972a.png)

[2021-09-28 11:42] pdclark commented on #6113
Looks like the DB is still updating inconsistently:

<img src="https://pods.pd.cm/wp-content/mu-plugins/6113/6113-taxonomy-save-user.gif" />
<a href="https://pods.pd.cm/wp-content/mu-plugins/6113/6113-taxonomy-save-user.gif">6113-taxonomy-save-user.gif</a>

[2021-09-28 18:16] paulrapoza opened #6153 "[Pods 2.8 Bug] Tabs missing from Admin UI when editing a pod"
## Pods 2.8 version
2.8.0-rc.1

## Description
Several of the tabs are missing when I go to edit a pod.  I'm missing "Admin UI" and "Advanced Options"
Seems similar to this issue: #5972
## Testing instructions

1. Edit any pod

## Expected behavior

Expected to see the Admin UI Tab and other tabs.

## Screenshots / screencast
![image](https://user-images.githubusercontent.com/52324937/135136876-33

[2021-09-29 18:25] paulrapoza commented on #6153
The pod, "project", is a custom post-type created in pods, rather than a taxonomy. The issue is that for all of my pods (custom taxonomy or custom post-type alike), several tabs are missing when I try to edit them. I cannot access "Advanced Options" and "Admin UI".

[2021-09-30 03:19] tkdennis opened #6154 "PHP : pods($type, $params) breaks when SELECT parameter is passed"
## Description

Pass a select parameter to pods() to limit fields returned, SQL statement breaks because order by adds on more fields not in select parameter

## Testing instructions

1. Execute this PHP code
$params = array(
	'limit'  => 5,
	'where' => array(
		array('key' => 'post_date', 'value' => "2021-09-20", 'compare' => '>=' ),
		array('key' => 'post_status', 'value' => "Draft" )
		),
	'sel

[2021-10-01 09:15] JoryHogeveen commented on #5945
@carlosrovira Could you test the following PR: #6155

[2021-10-01 11:11] carlosrovira commented on #5945
Hi @JoryHogeveen, I have currently a problem in the pre server where I can test it. I have it in my backlog for several days. Will try to fix this weekend and try it, and back here with my findings. Thanks

[2021-10-01 18:47] #6153 closed

[2021-10-01 18:47] paulrapoza commented on #6153
Had some database garble. Fixed it, seems to have fixed the issue.

[2021-10-04 14:14] sc0ttkclark commented on #6152
Thanks for this, on it!

[2021-10-04 23:21] FLXweather opened #6158 "Date/Time field not picking time"
## Description

I have a new custom post type with a date/time field. In the editor, the date picker works fine. The time picker, no matter if I use the sliders, or type in a time, will not save and display the time. Instead, it continues to show g:i a

## Testing instructions

1. Go to Add New
2. Click on Create New
3. Make new Custom Post Type, fill in the information, click Next Step
4. Click '

[2021-10-05 05:48] #6141 closed

[2021-10-05 05:48] #6145 closed

[2021-10-05 05:53] JoryHogeveen commented on #5007
@pdclark @sc0ttkclark
Indeed, it should be `pods_field_validate_{$type}`: https://github.com/pods-framework/pods/blob/main/classes/PodsField.php#L606-L620

However, I also found a filter in PodsForm: https://github.com/pods-framework/pods/blob/main/classes/PodsForm.php#L1180

@sc0ttkclark We'll need to address this as there are more filters in PodsForm that might relate to Field filters..

[2021-10-05 05:56] JoryHogeveen opened #6160 "Duplicate filter"
Pods 2.7.24+

## Description

Found through #5007

We have to separate filters for the same thing:
- `pods_field_validate_{$type}`:
  - https://github.com/pods-framework/pods/blob/main/classes/PodsField.php#L606-L620
- `pods_field_{$type}_validate`:
  - https://github.com/pods-framework/pods/blob/main/classes/PodsForm.php#L1180

We should address this to prevent misunderstanding.

[2021-10-05 06:11] JoryHogeveen commented on #5547
Related #5464

[2021-10-05 06:12] JoryHogeveen commented on #2505
@sc0ttkclark Moved this to 2.8 since it is related to error reporting in general. Related #5464

[2021-10-05 06:12] JoryHogeveen commented on #5007
As for the error log in the UI.
Honestly, if I'm testing locally on 2.8 error reporting doesn't even work at all on the block editor @sc0ttkclark
On the classic editor I get a WP Error page (which is very inconvenient since all data is lost)

Related: #5464  (@sc0ttkclark why is this punted? IMO this is a blocking issue)

[2021-10-05 06:24] millionleaves opened #6161 "Can't add new Relationship items with List view enabled on a three-tier relationship"
## Description

I have a Pod set up with this structure via relationships:
-Parent pod
--Child pod
---Grandchild pod

The Child pod has a relationship to the Grandchild pod, with a limit of 10 Grandchild items. The item display on the Child pod is set to **List view**. In the List view settings, I've enabled the option to **Allow Add New**.

https://www.dropbox.com/s/1403isahtxhwezy/Screen%20Shot%

[2021-10-05 09:08] carlosrovira commented on #5945
Hi @JoryHogeveen, after working several hours in the last weekend, I could solve my test server issues. Sorry to be late, but I need to migrate some webs to other server, upgrade SO, PHP, and even install packages that was not considered some years ago until get things working. I finally have the site up in the same state as production.

So from there, I updated Pods to latest RC1 downloading the

[2021-10-05 09:57] carlosrovira commented on #5945
hi,

In En admin page I get this log:

Notice: Trying to access array offset on value of type bool in /home/codeoscopic/var/www/codeoscopic.com/wp-content/plugins/pods/components/I18n/I18n.php on line 422

Warning: Invalid argument supplied for foreach() in /home/codeoscopic/var/www/codeoscopic.com/wp-content/plugins/pods/components/I18n/I18n.php on line 422

Notice: Trying to access array offset

[2021-10-05 13:49] JoryHogeveen commented on #5945
Hi @carlosrovira

Before we continue, did you test on the latest RC or with the integration patch?
By looking at your errors it seems that you've tested on the RC version, not the integration patch.
Please make sure you test on the patch:
Patch PR: https://github.com/pods-framework/pods/pull/6155
Patch download ZIP: https://github.com/pods-framework/pods/archive/refs/heads/feature/2.8/i18n-integra

[2021-10-05 15:04] JoryHogeveen commented on #5945
What kind of error do you get?

[2021-10-05 20:27] carlosrovira commented on #5945
Hi @JoryHogeveen seems a false positive and related to run out of space. Tomorrow will see more about it. Sorry. Will come back when I know more

[2021-10-06 01:58] sc0ttkclark commented on #6161
I don't think this worked in Pods 2.7.x but it's definitely not supported right now in our flows. We hope to revisit the modal flow when we determine better UX for how to differentiate which modal you are in when adding items deeper within modals. It's confusing (I know) and that's why it's forced off when already in an add new modal.

[2021-10-06 01:59] sc0ttkclark commented on #6158
If you have a staging site, can you test this with Pods 2.8 RC 1? Testing instructions and other information can be found here: https://pods.io/2021/02/11/pods-2-8-beta-1-released-and-the-field-guide-to-pods-2-8/

[2021-10-06 02:00] sc0ttkclark commented on #4325
Caching is defaulted to off now in Pods 2.8 🎉

[2021-10-06 02:00] #4325 closed

[2021-10-06 02:02] sc0ttkclark commented on #6064
I'm interested in creating a UI for this. Pods 2.8 introduces a new Blocks PHP API and Blocks JS API for Pods, which we use for our own blocks. I hope to expose the capabilities there with a new builder screen that's a more restricted version of the normal Edit Pod screen. That'll take quite a bit of thought and preparation but it's on my list.

[2021-10-06 02:10] millionleaves commented on #6161
Thanks. I figured there would be a reason for it, so I’m happy for that to be tagged something other than bug.
________________________________
From: Scott Kingsley Clark ***@***.***>
Sent: Wednesday, October 6, 2021 2:58:25 PM
To: pods-framework/pods ***@***.***>
Cc: millionleaves ***@***.***>; Author ***@***.***>
Subject: Re: [pods-framework/pods] Can't add new Relationship items with List view

[2021-10-06 10:54] carlosrovira commented on #5945
Hi @JoryHogeveen, I just do a severe clean up on the server to get free space and was able to upload the pods with the patch you told me.

Sorry but the patch doesn't seem to make any different with the three issues I already commented  before. Also in the wp I continue seeing this:

Notice: Trying to access array offset on value of type bool in /home/codeoscopic/var/www/codeoscopic.com/wp-content

[2021-10-06 11:03] carlosrovira commented on #5945
About how I fetch results:

1.- In grupo (ES) / group (EN) page:

[pods name="empleado" orderby="order.meta_value" where="director.meta_value = 1" template="EquipoDirectivo"]
[pods name="empleado" where="director.meta_value = 0" orderby="nombre.meta_value" template="Equipo" limit="40"]

2.- In Inversores (ES) / Investors (EN) page:

[pods name="testimonio" slug="jon-doe" template="Testimonio-Inver

[2021-10-06 11:08] carlosrovira commented on #5945
Here's Pods Templates:

### EquipoDirectivo

<li>
   <a href="{@profile}" target="_blank" class="main_content" rel="noopener noreferrer">
      <span class="user" style="background-image: url('{@foto._src}');"></span>
      <span class="name">{@nombre}</span>
      <span class="role">{@puesto}</span>
   </a>
</li>

### Equipo

<li>
   <div class="main_content">
      <div class="tooltip_user">

[2021-10-06 14:34] pdclark opened #6162 "[Pods 2.8 Bug] Incorrect use of the_title filter in pick field"
## Pods 2.8 version

`2.8.0-rc1`

## Description

Appears to be a recurrence of #5236.

- `pick.php` line `2596`: `$result[ $field_index ] = call_user_func_array( 'apply_filters', $filter_args );` calls `the_title` filter with only `$title` as argument; it should be `$title, $id`.

## Testing instructions

- Create a multi-select Relationship field on Pages to Pages (hierarchical)
- Create a relat

[2021-10-06 18:03] carlosrovira opened #6163 "[Pods 2.8rc2 Bug] Page not rendering at all in a test site"
## Pods 2.8 version

latest rc2 (downloaded from blog post, but it shows "rc1" instead of "rc2" in admin

## Description

After update from latest 2.7 to 2.8 in a test site one of the pages is not rendering. I put WP_DEBUG to true, for better logs. It shows:

Error en la base de datos de WordPress: [Unknown column 'nombre.meta_value' in 'order clause']
SELECT DISTINCT `t`.* FROM `avant_posts` AS `

[2021-10-07 03:51] dmccan opened #6164 "[Pods 2.8 Bug] Default post status is empty for Post Type pods"
## Pods 2.8 version RC2

Pods 2.8 version RC2

## Description

When creating a pod, on the advanced options screen, there is a drop down for Default Status.  The drop down is empty.

## Testing instructions

Create a new CPT Pod, save, edit and go to the advanced options screen.  Check the Default Status.

## Expected behavior

Not sure, but was expecting a list of possible post status options.

#

[2021-10-07 10:52] coding-panda opened #6165 "[Pods 2.8 Bug] "type" as a field name is reserved"
## Pods 2.8 version
Pods 2.8.0-rc-1

Pods 2.8.0-rc-1
## Description
type is reserved for internal WordPress or Pods usage, please try a different name

type is reserved for internal WordPress or Pods usage, please try a different name
## Testing instructions

1. Go to Edit Pods/Add New
2. Edit or Create an Advanced Content Type
3. Add a new field with the name "type".
4. See error message 'type is

[2021-10-08 06:20] justdudeone commented on #6106
This possibility - the manual ordering of Taxonomies Terms for select fields is ENOUGH IMPORTANT! Maybe you will just add the same simple custom re-ordering by mouse functionality as "WooCommerce Product Attributes" or "YIKES Simple Taxonomy Ordering" or even "Pods Custom Groups&Fields" have to Pods Custom Taxonomies Terms?
And for select fields you can add a simple option like - Order by: A-Z, Z-

[2021-10-08 06:54] lapalach opened #6166 "Custom field changes not saved"
Hi there
I use a custom post type with custom fields created by pods. On the website every user can create a new post from this post type by a user frontend form. This form is created and processed by the WPUF Plugin (WP User Frontend). Fields are populated and a new post is created, awaiting review. Here comes to problem.
All standard wordpress fields (Title, Editor, Taxonomies, custom taxonomies

[2021-10-08 10:42] JoryHogeveen commented on #6106
Hello @justdudeone

You can already add a numeric order field to your terms and order your query based on this field.
The only part that Pods does not add is the UI to drag and drop terms to order them within WordPress.
Since there is already a plugin for this (YIKES Simple Taxonomy Ordering) we will not re-invent the wheel. You can install this plugin to use it's functionality.

Cheers, Jory

[2021-10-09 14:14] HmCody opened #6167 "[Pods 2.8 Bug] Summary of your problem here"
## Pods 2.8 version

## Description

## Testing instructions

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error message '....'

## Expected behavior

## Screenshots / screencast

## Possible workaround

## Other super helpful information

<details>
<summary>WordPress Environment</summary>

[code]

</details>

<details>
<summary>Pods Package Export</summary>

[code]

</details

[2021-10-09 15:24] #6167 closed

[2021-10-09 18:22] HmCody opened #6168 "[Pods 2.8 Bug] TinyMCE editor now includes Add Media button"
## Pods 2.8 version

2.8 RC2

## Description

Before I installed 2.8, the TinyMCE editor for WYSIWYG fields in Pods CPTs had a large Add Media button above the editor which could be removed on a per field basis on the Additional Field Options tab when editing the CPT field. The editor now includes a small Add Media button on the toolbar itself (located between the Add More button and the Toolbar T

[2021-10-11 13:05] HmCody opened #6169 "[Pods 2.8 Bug] Database Error on User Relationship Field"
## Pods 2.8 version

Version 2.8.0-rc.1 is what the plugins page says. If I look at the init.php document, that is what it says in the comments at the top, but under "Prevent conflicts with Pods 1.x," Current version is define( 'PODS_VERSION', '2.8.0-rc-2' ); I downloaded this from the zip file link at https://pods.io/2021/02/11/pods-2-8-beta-1-released-and-the-field-guide-to-pods-2-8/ on 10/7

##

[2021-10-11 13:51] HmCody opened #6170 "[Pods 2.8 Bug] Plain Number Field Display and Validation Issue"
## Pods 2.8 version

Version 2.8.0-rc.1 is what the plugins page says. If I look at the init.php document, that is what it says in the comments at the top, but under "Prevent conflicts with Pods 1.x," Current version is define( 'PODS_VERSION', '2.8.0-rc-2' ); I downloaded this from the zip file link at https://pods.io/2021/02/11/pods-2-8-beta-1-released-and-the-field-guide-to-pods-2-8/ on 10/7

##

[2021-10-12 12:31] HmCody commented on #6170
Some additional information.

I examined the HTML for the Field Events form and found that three of the Plain Number Fields, Dogs Per Person, Linked Post, and Linked Calendar Event, are rendering as input type="text", while Dog Limit and Number of Flyers are rendering as input type="number". Partial HTML below. I checked the definitions for the fields and they all look to be the same (see attached

[2021-10-13 08:46] sc0ttkclark commented on #6166
What version of Pods is your site running here? Does the meta change in the database table wp_postmeta or is it entirely ignored on save?

[2021-10-13 16:18] sc0ttkclark commented on #6169
Fixed via https://github.com/pods-framework/pods/commit/3d3114bffce2fa06d62e45adfd35cff3f7f0f4bb

[2021-10-13 16:18] #6169 closed, assigned to sc0ttkclark

[2021-10-13 16:27] #6164 closed, assigned to sc0ttkclark

[2021-10-14 21:31] #6152 closed

[2021-10-15 05:18] JoryHogeveen commented on #4544
Update on this issue.
We've had a talk with the integration developers at WPML. Pods 2.8 will include an improved version of our current integration for fetching data.
This part (copy fields) will most likely get a dedicated plugin.

In short, this issue is in our pipeline for Pods addons.

[2021-10-15 19:43] sc0ttkclark commented on #5547
Going to solve via #2424

[2021-10-15 19:59] sc0ttkclark commented on #6168
Fixed via https://github.com/pods-framework/pods/commit/6a5e8f690990df9bff22898625e037f8b08cee1c

[2021-10-15 19:59] #6168 closed

[2021-10-15 20:13] #6162 closed

[2021-10-17 01:22] sc0ttkclark commented on #6046
Can you test this against Pods 2.8 when it's released Monday? I did a big batch of work on this area in 2.8

[2021-10-17 01:30] sc0ttkclark commented on #6026
We have some code that tries to help with this. I wish it was more elegant so I think we can try to revisit this again.

[2021-10-17 01:54] sc0ttkclark commented on #6024
This would be great to add.

[2021-10-17 02:41] sc0ttkclark commented on #5971
Let's retest this with Pods 2.8

[2021-10-17 02:55] sc0ttkclark commented on #5969
Work was done in 2.8 to enable more capabilities to do this sort of thing. Will be revisiting in the near future, probably 2022

[2021-10-17 02:58] sc0ttkclark commented on #5956
Closing as this is no longer a problem in Pods 2.8

[2021-10-17 10:58] #6163 closed, assigned to sc0ttkclark

[2021-10-17 11:10] carlosrovira commented on #5945
Don't know if this could help, but maybe providing a RC3 with the WPML patch could fix the issue? If you give me a link I can try and report
thanks

[2021-10-17 14:28] HmCody commented on #6170
A little more detail.

If the current value of the field is 0, the current value is not shown in the input box when the page is loaded. If the current value is different than 0, it is shown. I can change the value to any non-zero number and the form behaves normally, but if I try to enter 0, the input box is blanked (no input). It does not seem to matter what the default value of the field is, nor

[2021-10-17 14:52] HmCody commented on #6170
I tried adding a new CPT with Pods and the number fields behaved exactly as they did in my existing CPT. It just won't take 0 as an input.

[2021-10-18 13:53] carlosrovira commented on #5945
Hi @JoryHogeveen

you must consider that the starting point is a website already working in production with current release (2.7.x), so unless there are functional changes in Pods that require implementation changes, all should be working in the current state.

Now, for your questions, how can I check the queries generated by shortcodes?. My pods knowledge doesn't reach that point. If you can poin

[2021-10-18 14:27] carlosrovira commented on #5945
Hi @JoryHogeveen

Checking the same url in pro and pre sites throws a significant difference:

## PRESITE

[code]

## PROSITE

[code]

So in resume, this seems the missing part in the query

[code]

I'll contact you to the email address so we can have a better close comunication and give you credentials

Thanks

[2021-10-18 14:31] sc0ttkclark commented on #6113
Finally figured it out, but this was a tough one that lost me many many hours. It was a line that was trying to `unset( $related_ids[ array_search( $id, $related_ids ) ] );` which when array_search doesn't come up as expected it can remove wanted values from the `$related_ids`. I added a `false !==` check and now the bug no longer presents itself.

[2021-10-18 17:07] #6170 closed, assigned to sc0ttkclark

[2021-10-18 18:18] carlosrovira commented on #5945
(reopening since I can't post without do so)

Hi @JoryHogeveen,

I notice that now, templates show in EN and not in ES. I tried various approaches, but what I found is that If I create add template for a language it doesn't show in the other one and viceversa. I couldn't find a solution for this and decided to post here... do you have any idea of what could be the problem?

[2021-10-18 20:24] carlosrovira commented on #5945
Hi, I think I finally get it to work with a combination of making the templates not to be a duplicate and clearing pods cache. But was tricky.

While presite is now working, when I cleared the pods cache I got again the following error stack trace:

Notice: Trying to access array offset on value of type bool in /home/codeoscopic/var/www/codeoscopic.com/wp-content/plugins/pods/components/I18n/I18n.

[2021-10-18 20:37] carlosrovira commented on #5945
I got pro site update to 2.8 final release. Just notice that is a bit tricky since you need to clear pods cache and also other caches you can have in your site and refresh it and try again until things settle. Closing again.

[2021-10-18 20:37] #5945 closed

[2021-10-18 20:37] carlosrovira commented on #5945
also the error stack trace doesn't show in pro site :?

[2021-10-18 22:05] carlosrovira opened #6175 "App using REST API doesn't work after upgrade to 2.8"
## Description

I have a third party app using REST API. It's not working with 2.8. If I revert to 2.7 works again
I check end points and see fields are now removed. I guess there should be some way to get it back again, but after looking over website can't figure how to do it

this is the current url that works with 2.7.31:
https://mysite.com/wp-json/wp/v2/product/

How should it looks now in 2.8

[2021-10-18 23:04] dweuste opened #6176 "WYSIWYG field not picking up last used visual vs text setting, not loading in text can change some HTML"
In the WYSIWYG field, there are times you have to use the Text Editor rather than the Visual Editor. It is still superior to the standard code editor because clients can still highlight and bold and italicize and link and not have to worry about paragraph tags, but when the editor switches to Visual, it breaks the code if there were some non-standard things. An example of this is adding text in be

[2021-10-19 01:54] sc0ttkclark commented on #6175
I'll have a look at this, we optimized the calls for REST API stuff in 2.8 so I'll see if something went wrong in the last batch of work there.

[2021-10-19 01:56] sc0ttkclark opened #6177 "Use SVG for menu icon"
We should try to use an SVG for the menu icon if we can figure it out. All my efforts seemed to show a big square in the middle of the logo so something is wrong with the SVG I was using or it may not be possible. Whatever we choose needs to avoid loading our stylesheet on every page for a custom font.

[2021-10-19 05:23] #5887 closed

[2021-10-19 05:42] JoryHogeveen commented on #5931
@sc0ttkclark What is changed in 2.8 in relation to this issue? `PodsInit::delete_attachment` uses static properties from `PodsMeta`.

Looking at the `run` method in `PodsInit` I see a possibility where this issue can occur.
PodsInit only loads PodsMeta _after_ the `setup_theme` hook, but `delete_attachment` gets hooked directly. So if `delete_attachment` gets called before running `setup_theme` th

[2021-10-19 05:55] JoryHogeveen opened #6178 "Pods 2.8: default values for boolean_group fields do not work."
## Description

See WYSIWYG field.
"Enable Media Buttons" should be checked by default.
Same thing for:
- Trim extra whitespace before/after contents
- Enable wptexturize
- Enable convert_chars
- Enable wpautop

## Testing instructions

1. Create Pod and add a new field, select WYSIWYG and see the options tab.

## Pods version

2.8

[2021-10-19 06:42] JoryHogeveen commented on #6178
Did some research;

allPodValues is missing these boolean_group subfields.
https://github.com/pods-framework/pods/blob/2.8.0/ui/js/dfv/src/fields/boolean-group/index.js#L24
For this reason the following loop does not work:
https://github.com/pods-framework/pods/blob/2.8.0/ui/js/dfv/src/components/field-set.js#L38-L44

Also, it seems he main config object that is rendered from the new Pods Whatsit

[2021-10-19 07:13] JoryHogeveen commented on #6176
Yes there is. We could add two fields to the Editor settings: `tinymce` and `quicktags` (both enabled by default) and let users decide what to do.
See available settings in: https://developer.wordpress.org/reference/classes/_wp_editors/parse_settings/

[2021-10-19 07:40] JoryHogeveen commented on #6177
There is something wrong with the SVG format, the logo path is inaccessible for editors and other software due to the way it's exported. Can only be fixed in the SVG code.

[2021-10-19 08:02] JoryHogeveen commented on #5945
@carlosrovira

This is probably because debug is disabled on the production website.

About the errors, could you share the full stack trace and not just the error (warning) itself?

[2021-10-19 08:18] carlosrovira commented on #6175
Hi @sc0ttkclark, I'd swear this was working on the latest RC2 or RC3. Where I can find RCs zip to try it?

[2021-10-19 08:20] carlosrovira commented on #5945
Hi @JoryHogeveen, ok, please let me know where I can find the full stack trace so I can share here. Thanks

[2021-10-19 08:23] carlosrovira commented on #5945
@JoryHogeveen remember you hace access to the pre site where you can see that error. Also ensure you put in EN view (since only happens in EN, not in ES).

[2021-10-19 09:46] JoryHogeveen opened #6181 "Pods 2.8: broke compatibility with custom 3rd party fields"
## Description

The REACT UI is awesome but it fully broke all compatibility with custom 3rd party field types.
Just like WordPress created BC code for widgets etc. I think we should do the same for 3rd party field types (non REACT ui).

Maybe make a wrapper for jQuery or static field types that still use php templates (views).

[2021-10-19 10:43] JoryHogeveen commented on #5945
Just got another error that is server related it seems:

[code]

[2021-10-19 10:53] devlamconstructie opened #6182 "Taggable Autocomplete field option not working in 2.8"
## Description

custom fields referencing custom taxonomies do not properly query the related custom taxonomy and do not allow adding of new items in the custom taxonomy.

## Testing instructions

1. create new CPT
2. create new custom taxonomy.
2. associate with  CPT
3. Enable Rest, also enable Show and allow Update.
4. Save, edit CPT
5. add field, type relationship
6. addition field options: mul

[2021-10-19 10:59] devlamconstructie opened #6183 "support moving existing fields to new group"
## Problem

can't use field groups for existing websites. The field gets stuck in the 'more fields' group and won't pop over into the new field group. (FF Dev)

## Proposed Solution
allow dragging fields into new field groups.

## Workaround

## Examples elsewhere

## Screenshots / Screencast

[2021-10-19 11:11] apothekenschrank opened #6184 "Swiss Currency Symbols"
## Description

The Swiss currency code is CHF and it is currently also the official "symbol" for price tags. Before, "sFr" was used to differentiate it against the French Franks, which do not exist anymore. "Fr." is certainly not correct. Please change this or provide more options to display it.
I further noticed that the currency code symbol ahead of the entry field (backend) is always $. It use

[2021-10-19 11:29] JessieBee3 opened #6187 "2.8 Field Groups"
## Description
It isn't possible to move existing field into new group sections. Right now, only new fields can be placed in new groups.

## Testing instructions
Drag/drop any existing field into a newly created Field Group.

## Expected behavior
The existing field should move into the new field group.

## Possible workaround
I'm continuing to use the workaround for groups in the functions.

## Po

[2021-10-19 11:59] nancymac opened #6188 "Input Forms broken in v2.8"
## Description

Input forms show bullets instead of input fields.

## Testing instructions

1. Create an input form and view it.

## Expected behavior

Expected to see input form with input fields that allowed me to enter text.

## Screenshots / screencast

https://source.academicwebpages.com/wp-content/uploads/2021/10/Screen-Shot-2021-10-19-at-7.52.15-AM.png

https://source.academicwebpages.com/w

[2021-10-19 12:21] devlamconstructie commented on #6183
Duplicate of #6817

[2021-10-19 12:38] JoryHogeveen commented on #6187
Duplicate of #5937

[2021-10-19 12:38] #6187 closed

[2021-10-19 12:44] JoryHogeveen commented on #6184
@apothekenschrank
You can always use the filter `pods_form_ui_field_currency_currencies` to modify existing currencies in Pods.

[2021-10-19 16:10] robpie-de opened #6189 "Pods 2.8 - Relationship field -> Simple (custom defined list) "parent output" empty"
the relationship field output of an "parent" object of an pod did'nt work anymore.

before i got the field value of e.g.: **$pod->display('mypod.field1');** this is now empty and in date field type it returns "0000-00-00" intead of "" (nothing), by trying to acces the field directly with: **$other_pod->display('field1');** field value returns correctly...

looks like the acces to the Relationship

[2021-10-19 16:18] jamesgol commented on #6188
I tested this out and don't get exactly the same results but similar.  I see the bullets added but the input fields do show up for me and I can use them to edit.   Can you export your Pod and I'll see if there is anything different using your Pod vs my test Pod?

Since it appears like it's defaulting to using DFV to display these forms now, do you see anything in your browsers console when loading

[2021-10-19 17:02] pdclark commented on #6182
@sc0ttkclark Verified on all multi-relationship list types. Can't add new taxonomy through a taxonomy custom relationship field (in this example, `tools`).
- Had to change `year` to `_year` to get content import to work.
<img width="1310" alt="Screen Shot 2021-10-19 at 10 00 54 AM" src="https://user-images.githubusercontent.com/126889/137957766-77eae2d6-d5ed-48f4-8d87-6065fc712e2f.png">
<img width

[2021-10-19 19:02] jamesgol commented on #6175
Are you at least seeing all of the non-Pod specific fields in the REST result?  I've tested with the default settings and overriding the endpoint and it works as expected for me.

[2021-10-19 20:36] jamesgol commented on #6188
I think your form/fields not displaying is a separate issue from the bullets showing up.

I can't be sure where it broke but just searching through history (without rebuilding assets), this commit does not have bullets:
https://github.com/pods-framework/pods/commit/aaf70c8a58fab33a9835884be03762c7e18021c9#diff-c3cda64c61c76c3ac98be7cf46871086333b75b8f7dfa811590eeab3f989d419

but this one does:
htt

[2021-10-19 21:35] jamesgol commented on #6189
Can you export your Pods package that has your two pods in it?

[2021-10-19 21:59] sc0ttkclark commented on #6175
It looks like this is resolved now, I'll do some more testing before we release 2.8.1 to be sure unless someone else can confirm.

[2021-10-19 22:30] kschaerer opened #6191 "Relationship label not displaying for Simple Custom Defined field in 2.8"
## Description

Uso Pods desde 2018. Lo amo. Siempre funcionó muy bien... hasta hoy.

Toda mi plataforma está construida en Wordpress con Pods.

El problema parecía estar en el despliegue de las taxonomías personalizadas, pero ahora veo que tampoco se pueden visualizar componentes de texto y de relación (lista simple).

Hasta el momento, descubrí errores relacionados con los siguientes tipos de ca

[2021-10-19 23:17] sensitive--boy opened #6192 "Custom post types stopped showing after update"
I have created several custom post types with pods. After updating to 2.8. the posts I call through fetch() do not show up on the website anymore. seems like there is no result in my function:

      $params = array('limit' => 300);
      $quotes = pods('zitat', $params);
      while ( $quotes->fetch() ) {
         echo ....
     }

Other posts, called through shortcut are still working.
I rolled

[2021-10-19 23:32] kschaerer commented on #6191
<details>
<summary>Pods Package Export - TEMPLATE</summary>

{
    "meta": {
        "version": "2.8.0",
        "build": 1634685578
    },
    "templates": [
        {
            "name": "Plantilla Obra Participante",
            "code": "<style>\r\n.flex-container {\r\n  display: flex;\r\n  flex-flow: row wrap;\r\n  background-color: #eee;\r\n}\r\n\r\n.flex-container > div {\r\n  background-col

[2021-10-20 01:47] sc0ttkclark commented on #6182
Add New modal for term form is broken and is not available until we add some hackaround solutions for the DOM handling it is going to need.

I've removed the pick_allow_add_new option for taxonomy objects for now since that was showing when it shouldn't have.

I've added pick_taggable support since luckily the react-select package supports an AsyncCreatableSelect component.

I've tested on my side

[2021-10-20 01:49] sc0ttkclark opened #6193 "Support Add New Modal for Taxonomies"
Add New Modal is tricky for taxonomies because the `edit-tags.php` add new term form does not have any JS to hook into. The best we may be able to do is try to listen to the DOM for the term list `table` and try to catch the added `<tr>` node when it's added after submission.

Not sure there's going to be any better solution there.

[2021-10-20 01:49] sc0ttkclark commented on #6182
Support for pick_taggable added via 4d5ed8c384ea96905c8417ac4983a91a14f2a8c2

[2021-10-20 02:03] sc0ttkclark commented on #6191
You only exported just the one Pod "Orbas". Can you try exporting the other Pods into a package?

[2021-10-20 02:32] sc0ttkclark commented on #6191
Fixed via 5ec409720a764a61d7b209b8fc9aaccd4f4b203e

[2021-10-20 02:33] #6191 closed, assigned to sc0ttkclark

[2021-10-20 02:33] #6182 closed

[2021-10-20 02:55] sc0ttkclark commented on #6184
Fixed via bca09a521bb960b050b640998198b553456c91c5

[2021-10-20 02:55] #6184 closed

[2021-10-20 02:56] sc0ttkclark commented on #6181
Should be OK, the only problem is calling DFV if the field type does not support DFV. As long as that doesn't happen, it should be fine. Link field type did this because I went over all field types to convert their inputs to DFV and forgot that the Link field type was not converted and was not a current field type in core.

[2021-10-20 02:56] #6181 closed

[2021-10-20 03:02] sc0ttkclark commented on #6178
@zrothauser If we can get the defaults handled for boolean_group sub fields in 2.8.x, that would be optimal.

@JoryHogeveen Those fields are not fully converted to field objects because they are technically fields for a fake field. "Output Options" for example, is a fake field while the boolean_group fields are the real fields. If it added the field objects properly, it would show all of the field

[2021-10-20 03:04] #6177 closed, assigned to sc0ttkclark, JoryHogeveen

[2021-10-20 03:41] kschaerer commented on #6191
Thank you! I will try it now.

El El mar, 19 de oct. de 2021 a la(s) 23:33, Scott Kingsley Clark <
***@***.***> escribió:

--

Karina Schaerer
Copywriter - Creativa digital
+595 986 907120 <+595+986+907120>
| ***@***.***
www.dibego.com
<http://facebook.com/karinaypunto> <http://instagram.com/karischga>
<http://twitter.com/karischga>

Create your own email signature
<https://www.wisestamp.com/creat

[2021-10-20 04:05] sc0ttkclark commented on #6176
I've got an initial fix for the setting of the default editor on the page -- however it's not running at the right time to switch the editors.

Code is in this change: 7f0aa0708ef41c08ef8a7235478a56fd66a1fe12 (and subsequent commits on 2.8.1)

[2021-10-20 04:06] PurpleYamJam opened #6194 "Color Picker displaying too large and not having a "clear" button"
## Description

1. The color picker displays full window length (extremely large) when opened on a setting page.

2. The color picker is missing the "clear" button to remove a previously selected color.

## Testing instructions

1. Go to any settings page that has a color picker field added to it.
2. Click on the color picker button.
3. See the extremely large color picker box.
4. See that there i

[2021-10-20 04:09] #5970 closed

[2021-10-20 04:14] sc0ttkclark commented on #6176
I'm removing the defaultEditor handling for now, the solution would still present the problem reported since it loads as visual editor and then switches to the HTML editor (causing the HTML mess up).

I suggest using the Code field type for now @dweuste

[2021-10-20 04:18] sc0ttkclark commented on #6188
One potential solution for this may be to try adding the additional shortcode attribute: `form_output_type="div"`

Output types supported are: div, ul, p, table

I haven't been able to reproduce the problem here.

[2021-10-20 08:59] antoniss opened #6195 "Magic tag support for Display Field in Selection not working in 2.8"
## Description

I have some Custom post types , which are having relationship fields.
Before the update i had problem with only 1 of my pods called "XARTI" , the problem was with the **FORMAT** of the relationship field, which when was **AUTOCOMPLETE** it was always **NO RESULTS FOUND** no matter what i was writing in the field.
But when it was **Drop Down**, or **Radio Buttons** or **List View**

[2021-10-20 10:04] JoryHogeveen commented on #5931
@sc0ttkclark Okidoki, I assume we can close this topic then?

[2021-10-20 13:02] JoryHogeveen opened #6198 "Color field: Store as RGB or HSL"
Currently the color field only stores HEX values. It might be nice to allow storing HEX, RGB and HSL values as well.

Storage can be done comma separated, or array (serialized or json).

Option:

[code]

[2021-10-20 13:16] #6175 closed, assigned to sc0ttkclark

[2021-10-20 14:02] JoryHogeveen opened #6199 "Invalid number_max prop type"
Warning: Failed prop type: Invalid prop `allPodFields[172].number_max` of type `number` supplied to `DynamicTabContent`, expected `string`.

[2021-10-20 14:17] JoryHogeveen opened #6200 "Boolean group (sub)fields set to default true cannot be disabled"
## Description

If a boolean group subfield is set to `true` by default you cannot disable it.

- Saving the field does not send a `false` or `0` value
- Saving the fields with a false value removed the field from the database (once saved a second time)
- After that, the options list doesn't include the field value anymore

See for example the `media_buttons` field in the WYSIWYG editor.

This bug

[2021-10-20 14:46] #6188 closed, assigned to nobody

[2021-10-20 15:00] JoryHogeveen opened #6202 "Invalid `hidden` proptype"
- Warning: Failed prop type: Invalid prop `field.hidden` of value `false` supplied to `FieldWrapper`, expected one of ["0","1",0,1].
- Warning: Failed prop type: Invalid prop `fieldConfig.hidden` of value `false` supplied to `Color`, expected one of ["0","1",0,1].

[2021-10-20 15:05] sc0ttkclark opened #6203 "Multiple forms on page do not have separate instances"
## Description

When outputting multiple forms on the same page using Pod::form(), form shortcode, or form block -- the instances are shared. All values get set in all forms to the last form output. All values in store are shared so changing any form field will change across all forms for that field.

## Pods version

2.8.0

[2021-10-20 15:08] #6202 closed, assigned to sc0ttkclark

[2021-10-20 17:52] VanWebDev opened #6204 "Pods 2.8.0 WP-Admin interfaces don't work on Safari 15.0 (Mac BigSur 11.6)"
## Description

The Pods interfaces in WP-Admin don't work on Safari 15.0 on Mac Big Sur 11.6

- When trying to add or extend a post type, it only shows the animated grey loading bars instead of the fields.
- When trying to add a post with custom fields, it only shows the animated grey loading bars where the custom fields should be.
- The default wordpress editor doesn't appear to be affected, but

[2021-10-20 18:20] VanWebDev commented on #6204
Yes, those two screens display correctly, but if I try to Edit a pod on your first screenshot, or Create New or Extend Existing on the second one, that's where the issue happens.

I cleared browser cache, pods cache, and used a private window. The issue still happens.

[2021-10-20 18:30] VanWebDev commented on #6204
Ahh, yes...Does this help?

<img width="1125" alt="Screen Shot 2021-10-20 at 11 28 40 AM" src="https://user-images.githubusercontent.com/30353963/138150582-690b79c1-6cea-4c9b-aa8d-b7d75dfee627.png">

[2021-10-20 18:31] pdclark commented on #6204
Oh boy. Sounds like there may have been a partial install? Some of the JavaScript files aren't loading? What if you remove and re-install the plugin?

[2021-10-20 18:35] #6204 closed, assigned to pdclark

[2021-10-20 22:22] #6195 closed, assigned to sc0ttkclark

[2021-10-20 22:23] #5931 closed

[2021-10-20 22:45] sc0ttkclark commented on #6199
Fixed via bd9231a5433f390d3ae6ec6bdb9fbee028a21e98

Just noting -- in the future stuff that gets sent to DFV will be properly prepared and typed at some point. So booleans will be false/true, etc.

Same from the Whatsit object args, when you call an arg that you know is a bool, you don't have to cast, you just check true/false.

Those improvements will come later with additional time.

[2021-10-20 22:45] #6199 closed, assigned to sc0ttkclark

[2021-10-20 22:46] #6194 closed

[2021-10-20 22:49] #6189 closed, assigned to sc0ttkclark

[2021-10-20 22:50] sc0ttkclark commented on #6192
I can't reproduce this at the moment, if you are on our [Slack](https://support.pods.io/chat/), feel free to hop on and ping me to discuss further.

[2021-10-20 23:36] sc0ttkclark opened #6206 "Support autocomplete sorting with react-select and react-sortable-hoc"
## Description

Pods used to support sorting of the autocomplete values before in 2.7.x, this broke in 2.8 because we did not implement it.

We should implement the sortable capabilities like this example does:
https://github.com/JedWatson/react-select/blob/9009a153c059474117a7696f9f7a0914ad80acc0/docs/examples/MultiSelectSort.tsx

[2021-10-21 08:48] nerds-farm opened #6207 "Repeater field"
## Problem
In most cases is useful to manage all data in Post page with a Repeater field

## Proposed Solution
The unofficial extension (Panda Pods Repeater Field) is not yet supported, so integrate it or create your own native version.

## Workaround
This is the unofficial plugin:
https://wordpress.org/plugins/panda-pods-repeater-field/

## Examples elsewhere
ACF and JetEngine support it perfectl

[2021-10-21 09:40] jaavid opened #6208 "RTL"
## Description

Admin area in RTL Languages not working

[2021-10-21 09:59] #6207 closed

[2021-10-21 10:41] kschaerer opened #6209 "Raw Number field is auto-filled with zero - 2.8"
## Description

What used to be empty before allowing you to set different behaviors based on whether the field was empty or full is now no longer possible.

Currently, it not only populates the field in new entries, but it alters previous entries.

**Note**: I have no experience of the same happening with dates

## Expected behavior

With previous versions it was possible to leave blank.

## Scre

[2021-10-21 10:43] kschaerer commented on #6209
**Note**: This only affects empty fields. The previously filled fields have not been modified

[2021-10-21 13:34] rochels opened #6210 ""There was an error rendering the field.""
## Description

Hello, since 2.8, I have these messages "There was an error rendering the field" in Pods Management > Admin UI Tab.

## Screenshots / screencast

![image](https://user-images.githubusercontent.com/2480689/138285076-2df1bdca-f505-4338-90d3-7da4c524c577.png)

## Pods version

2.8.1

## Other super helpful information

<details>
<summary>WordPress Environment</summary>

[code]

</deta

[2021-10-21 13:38] x140l31 opened #6211 "Where filter with array (post_parent = 0) - Upgrade to 2.8.0"
## Description

Hello, since upgrade to 2.8.0, this piece of code doesn't work as expected:

[code]

Version 2.7.31 output:
[code]

Version 2.8.0 output:
[code]

[2021-10-21 14:04] rochels opened #6212 "All but one fields are hidden in Item Management"
## Description

Since 2.8 : when going to edit a Pod Item, it seems first to rendre correctly with all the fields (see first image). But, as soon as the page has loaded, all fields become hidden (see second image) except one.
The submit button is hidden too.
There is a public form with this Pod with the same issue.

## Screenshots / screencast

![image](https://user-images.githubusercontent.com/24

[2021-10-21 14:45] richhansen opened #6213 "Custom date format error and inconsistancy"
## Description
In a custom Post Type, we've defined a Date field (without Time) and gave it a custom **input** format, "dd/mm/yy." This European format is not accepted when we try to save the Post entry. The **output display** format, "M yy", displays correctly.

## Screenshots / screencast
**Desired custom date input format:**
![Capture0](https://user-images.githubusercontent.com/12893883/1382977

[2021-10-21 14:54] kschaerer commented on #6209
What I'll do is change the field type to plain text, but it would be nice if it works again.

[2021-10-21 15:40] kschaerer opened #6214 "Custom Tags are not displayed - 2.8 y 2.8.1"
## Description
I was using the custom taxonomies to enter and classify some data, but now they are not displayed.
This issue affects hundreds of older posts.
The example shows the relationship between Custom Post Tyes OBRAS and ROLES using custom taxomomies.

## Screenshots / screencast

### Display with 2.7.31 and previous versions
![Resultado esperado](https://user-images.githubusercontent.com/2

[2021-10-21 19:35] HmCody opened #6215 "pods->template causes unexpected output"
## Description
This came up after installing 2.8.

I have a CPT, Trials, which is associated with a custom taxonomy, Location. I use pods templates to display formatted location  information in both long and short format.

**Location long**
[code]

**Location short**
[code]

When using a shortcode [pods template="Location short"] which is inserted on a single Trial page in Oxygen, the template cor

[2021-10-22 00:50] sc0ttkclark commented on #6212
I'd love to dig into this further with you, are you on our [Live Community Slack Chat](https://support.pods.io/chat/)? If we can find time tomorrow, I can dive into this issue and get a fix for you.

[2021-10-22 12:57] iNalgiev opened #6216 "[Pods 2.8.1] Multi Select with Relationship data (ACT) does not save selected items"
## Description

As of Pods 2.8, I'm running into the following issue.
I'm using primarily ACT tables with relationships. It seems that if you select multiple options in a Multi Select field, it will not save all the selected options.

However, when using checkboxes (as input type), it seems to work fine. See screenshot below.

## Testing instructions

1. Create a ACT
2. Add a field with a relation

[2021-10-22 13:34] TomSeltzer opened #6217 "Pods 2.8.x conflict with Yoast Duplicate Post plugin"
## Description

It seems that the latest version of Pods has a conflict with the Yoast Duplicate Post plugin. It happened on two different sites of mine. On one, it caused a front-end error that took down the site. On the other, the front end worked, but I could no longer add or edit anything in a Pods-generated post type. Disabling Yoast Duplicate Post restored the site to full functionality in b

[2021-10-22 16:39] JoryHogeveen opened #6218 "Pods auto-templates not working with WPML"
## Description

Pods auto-templates are loaded by name (title) and not ID.
This is an issue with translation plugins because these plugins translate posts by ID (and our integration code does the same).

Two options, probable best to do both!
- Change the auto-templates loading and allow loading by ID (prefferable)
- Hook into the auto-templates after the template is loaded by ID.

[2021-10-22 17:21] pdclark opened #6220 "Quill Editor can't do br line breaks"
## Problem

As reported here: https://wordpress.org/support/topic/quill-editor-does-not-support-hyperlinks-or-line-breaks/

- [x] Quill editor does not have button for inserting links enabled — fix for this in PR #6221 .
- [ ] Quill editor converts line-breaks (`<br/>` / `shift-return`) to paragraphs (`<p>` / `return`). Possibly related: https://podswp.slack.com/archives/C02SVLHQF/p163476350711920

[2021-10-22 18:23] preston-lloyd opened #6223 "Advanced Relationships Database Table SQL Error"
## Description

Advanced relationships with database tables not created with the Advanced Content Types results in an SQL error. This was working in the past but seems to have broken in a recent release. The relationship seems to ignore what is set for the Table Index Column and default to "name".

## Testing instructions

1. Install the Advanced Relationships component
2. Create Pod
2. Create a D

[2021-10-22 20:12] sc0ttkclark opened #6224 "Quill editor support for HTML view"
From @pdclark in #6220

See benwinding/quill-html-edit-button

[2021-10-23 02:13] #6200 closed, assigned to sc0ttkclark, JoryHogeveen, zrothauser

[2021-10-23 04:39] #6209 closed, assigned to nobody

[2021-10-23 18:50] tonnt opened #6226 "Pods admin user interface forces 0 for empty numeric fields"
## Description

When having a numeric field (plain number) for a pod, the user interface automatically replaces all empty values with 0 when adding new data or editing existing data. It is not possible to delete the automatic zeros because javascript automatically replaces the empty field again with 0.

## Testing instructions

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See erro

[2021-10-23 21:22] sierracircle opened #6227 "FormidableForms "Create Post" Action not saving some fields on submit"
## Description

On a website for a small private school  I use Pods to manage post-types and fields.   I use FormidableForms for creating sign-ups and registrations for various events and services.

FormidableForms has "Actions" that can be set up to happen after a form is submitted. One of the actions is to create a Post, and create custom fields in that post populated with data from the form.

P

[2021-10-23 23:57] #6192 closed, assigned to sc0ttkclark

[2021-10-24 00:17] sc0ttkclark commented on #5971
Additional fixes done as part of f09a3fb1e2f08cfb0ce90b156e8eb32bd14da001

[2021-10-24 00:17] #5971 closed

[2021-10-24 00:33] sc0ttkclark commented on #6208
@JoryHogeveen Can you assist on this one? We may need to figure out some RTL specific styles for some of the screens.

@jaavid Was this on Pods 2.8.x or did it happen after you upgraded to Pods 2.8.x from Pods 2.7.x?

[2021-10-24 01:03] sc0ttkclark commented on #6211
I believe this may be fixed in 55d150b6

[2021-10-24 01:26] sc0ttkclark commented on #6218
Fixed via https://github.com/pods-framework/pods/pull/6219

[2021-10-24 01:26] #6218 closed

[2021-10-24 02:05] sc0ttkclark commented on #6226
Fixed in 2.8.2

[2021-10-24 02:07] sc0ttkclark commented on #6226
Duplicate of #6209

[2021-10-24 02:07] #6226 closed

[2021-10-24 02:13] sc0ttkclark commented on #6227
I'd like to see where things are going wrong here so that I can help resolve it for others who may not yet know it's happening for them. Perhaps it's related to something that could affect other areas of Pods as well.

Can you share a form and a Pods package?

[2021-10-24 02:36] sc0ttkclark commented on #6045
Should be resolved in 2.8, pending QA to confirm

[2021-10-24 02:58] sc0ttkclark opened #6228 "TinyMCE no longer had full screen button in 2.8"
## Description

From WordPress.org:

https://wordpress.org/support/topic/tinymce-full-screen/

[2021-10-24 03:11] sc0ttkclark opened #6229 "Pods-based form option for add/edit modals"
For when someone **does not have access** to add or edit an item for a Pod, like a Post type for example -- there may be usefulness to offer a Pods-based form option (that does not use the normal admin screens) for a reduced content entry experience. This may also be an option that people want in normal content entry as well.

With this new option, someone embedding forms on the frontend could all

[2021-10-24 15:06] sc0ttkclark opened #6230 "Some simple orderby syntaxes not working in 2.8"
Users report `date DESC` and `tax.name ASC` are not appearing to work.

The date one looks like it isn't mapping the alias correctly.

The tax one looks like something else, getting more info there.

[2021-10-24 18:21] adleviton opened #6231 "Invalid argument supplied for foreach"
## Description

This has appeared in Pods >= 2.8.0 (and Advanced Custom Fields 5.10.2 if that makes a difference).

**Warning: Invalid argument supplied for foreach() in .../plugins/pods/classes/Pods.php on line 1602**

Call Stack
6 | 1.0782 | 48410056 | the_content( ) | .../page.php:22
7 | 1.0784 | 48410088 | apply_filters( ) | .../post-template.php:253
8 | 1.0784 | 48410496 | WP_Hook->apply_filt

[2021-10-24 18:30] likeablegeek opened #6232 "Field name "approval_type" flagged as reserved"
## Description

I've been working on a project for months and currently the project is sitting on WP 5.8.1/Pods 2.7.31. I have a CPT created in Pods which has been in use in the project for a long time with a custom relationship field named `approval_type`. Today when I tried to edit the Pod to add a new field, Pods is returning this error on saving the changes: "`Error: approval_type is reserved

[2021-10-25 01:43] ryanleung96 opened #6233 "Custom hook to override form input validation"
Current pods framework plugin does not provide any custom hook to override form input validation.
When developers have to setup different validation based on input values, it could be difficult to achieve. Suggested to add a custom hook to allow custom validation when form submitted by user.

[2021-10-25 01:47] sc0ttkclark opened #6234 "JS validation hook for DFV"
We should allow for extra custom JS to run their own validation handling for each field pre-submit.

This would run at the same time as other validations run on value change etc and should allow for a message to be returned for the inline error message.

[2021-10-25 02:03] #6233 closed, assigned to nobody

[2021-10-25 09:54] JoryHogeveen opened #6236 "2.8.2: Error saving/loading Pods with multiple groups"
## Description

This occurs for Pods that are migrated, if the original group is migrated and an extra group is added, saving doesn't work anymore.
This is most likely due to the changes in `save_pod();`
It doesn't occur on 2.8.1

The error is `Could not insert post into the database.` which is generated because `post_content` is `null` which is invalid.

## Testing instructions

Create a pod with

[2021-10-25 11:49] TrevorSqE opened #6238 "Relationship fields > can't search for options"
## Description

In Pods 2.8, if I click in a relationship field, I'm shown a menu of options;  but if I try and search by entering part of a title, it just says "No options."

## Testing instructions

1. Go to a relationship field.
2. Click in the field.
3. Start typing.

## Expected behavior

## Screenshots / screencast

## Possible workaround

I can single-click and select from the drop-down men

[2021-10-25 22:03] #6212 closed, assigned to sc0ttkclark

[2021-10-26 00:41] #6231 closed, assigned to sc0ttkclark

[2021-10-26 00:42] #6236 closed, assigned to sc0ttkclark

[2021-10-26 04:03] #6230 closed, assigned to sc0ttkclark

[2021-10-26 10:39] eeboo opened #6240 "Pods page - restrict access edit page - unable to select role or capabilities"
## Description

Pods page - restrict access edit page - unable to select role or capabilities

## Testing instructions

1. Go to Pods page
2. Edit a page
3. unable to select role or capabilities

## Expected behavior

a checkbox list should appear

## Pods version
Version 2.8.1
PHP (7.2.34)

[2021-10-26 12:18] exonianp opened #6241 "Error in creating pods independent table"
## Description

Created a custom pod in its own table and was receiving the error that the insert was failing because a column (defect) was missing.  I do not know if defect is a reserved word that may have led to this incompatibility

`Cannot add/save table row; SQL: INSERT INTO `dvaye_pods_score` ( `id`, `name`, `status`, `competition_year`, `taster`, `sample_id`, `sample_code`, `defect`, `defec

[2021-10-26 15:20] datgausaigon opened #6242 "Got PHP Fatal error when run WP-CLI update plugin"
Hi, I use
[code]
When I run update plugin by WP-CLI I got a message:

[code]

Dees your plugin check with PHP 8.0.12 and WordPress 5.8.1?
Plugin still work but the log will hold this error. Thanks

Please check. Thanks

[2021-10-26 18:33] exonianp opened #6243 "Relating two entities stored in Tables fails"
## Description

I have created two entities (paragogoi (producers) and deigmata (samples)) and have linked them. Each sample can only have one producer but a producer can have more than one sample.

The linking between the two entities is not working.

## Testing instructions
Please import the two entities, create on and then try to link it with the other.

## Expected behavior

## Screenshots / s

[2021-10-26 18:50] #6223 closed, assigned to sc0ttkclark

[2021-10-26 18:54] #6241 closed, assigned to sc0ttkclark

[2021-10-26 19:06] #6240 closed, assigned to sc0ttkclark

[2021-10-26 19:28] exonianp opened #6244 "Relation of Country fails when the entity is stored in tables"
## Description

Following the fixes pertaining to the generation of fields in table storage, I am observing this issue when I try to store an entity

table local.country does not exist.

(see image)

The item is not saved so I cannot test the relation functionality

## Testing instructions

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error message '....'

## Expected behavior

[2021-10-26 19:34] #6210 closed, assigned to sc0ttkclark

[2021-10-26 20:47] #6244 closed, assigned to sc0ttkclark

[2021-10-27 02:48] #6211 closed, assigned to sc0ttkclark

[2021-10-27 16:15] iNalgiev opened #6247 "Sorting causes Uncaught Error: Call to a member function get_name() on array"
## Description

As of Pods v2.8.2 sorting doesn't work for ACT (manage) tables. This was working in v2.8.1 and below.
The following error appears when sorting on a field:

[code]

## Testing instructions

1. Create a Pod with ACT table
2. Add certain fields
3. Make sure to enable fields/columns in Admin UI
4. Save the Pod
5. Open the Pod manage page
6. Click on any column to sort by field

## Expe

[2021-10-27 17:42] exonianp opened #6249 "Sorting of fields in Advanced Custom (separate Table) fails"
## Description

When trying to sort in the admin section of pods that are created in the DB we get the error

<html>
<body>
<font size="1" style="color: rgb(60, 67, 74); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, Oxygen-Sans, Ubuntu, Cantarell, &quot;Helvetica Neue&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; f

[2021-10-27 18:40] adleviton opened #6250 "Issue with Pods UI?"
Appearing >= 2.8.0

( ! ) Fatal error: Uncaught Error: Call to a member function get_name() on array in /srv/www/my.site/current/web/app/plugins/pods/classes/Pods.php on line 2322

Error: Call to a member function get_name() on array in /srv/www/shepherd.test/current/web/app/plugins/pods/classes/Pods.php on line 2322

**Call Stack**

1 | 0.0005 | 441040 | {main}( ) | .../admin.php:0
2 | 1.0189 | 6

[2021-10-27 19:36] exonianp opened #6251 "Fields in ORDER BY clauses that do not exist in the SELECT"
## Description

I think this is  a reason for great performance handicaps.

I noticed in one of my pods that has been converted to DB table, great performance degradation.

I check the queries that run in the page with the &pods_debug_sql=1 flag.

Many of the queries that run have this format:

`SELECT  DISTINCT  `t`.`id` AS `pod_item_id`  FROM `wp_pods_diagonismos` AS `t` WHERE ( `t`.`id` = 99 OR

[2021-10-27 23:24] bwdgroup opened #6252 "CSS Image Overlap Issue when viewing gallery in Tile Mode when editing a post."
## Description

When using tile mode layout for editing an existing gallery the thumbnails overlap below fields.

## Testing instructions

Add a minimum of 12 images to a gallery and view using tile mode when editing a post you will see the overlap issue.

## Expected behavior

No overlap issue

## Screenshots / screencast

<img width="874" alt="overlap_issue" src="https://user-images.githubuserco

[2021-10-28 01:47] #6203 closed, assigned to zrothauser

[2021-10-28 01:52] #6252 closed, assigned to sc0ttkclark

[2021-10-28 02:04] #6251 closed, assigned to sc0ttkclark

[2021-10-28 03:12] #6250 closed, assigned to sc0ttkclark

[2021-10-28 03:12] #6249 closed, assigned to sc0ttkclark

[2021-10-28 03:13] #6247 closed, assigned to sc0ttkclark

[2021-10-28 03:33] #6242 closed, assigned to sc0ttkclark

[2021-10-28 04:06] #6217 closed, assigned to sc0ttkclark

[2021-10-28 05:31] #6214 closed, assigned to sc0ttkclark

[2021-10-28 06:21] Hexboard opened #6254 "Cannot sort ACPT on ID (Solved by version 2.8.3)"
## Description

I cannot sort a ACPT with about 18.000 records on ID in wp admin. In phpmyadmin I can sort the full table on ID, but in wp admin I can see only 739 pages showing max 5600 records. When I try to sort on ID wp show a "critical error has occured" message.

## Testing instructions

Actually while writing this bug report, I noticed and installed update 2.8.3 and the issue was solved!

T

[2021-10-28 12:05] JoryHogeveen opened #6255 "Checkbox dependencies not showing after creating new CPT"
## Description

https://wordpress.org/support/topic/admin-ui-icons/

When creating a new pod (post type) the menu fields aren't shown by default even though the `Show Admin Menu in Dashboard` option is checked by default.

Once unchecked and rechecked the fields will show.

Pods version 2.8.3

[2021-10-28 12:46] HmCody opened #6256 "Date Fields with time of 00:00 not loading in editor"
## Description

I have a CPT with 4 date/time fields. All have Allow empty value and Enable HTML5 input field checked. When I edit an item, any of the fields which have a time of 00:00 are not loaded.

This seems like it might be related to the similar problem we had with number field with a value of 0.

## Screenshots / screencast
The actual value of Display Date is 01/15/2020 00:00 and Registrat

[2021-10-28 13:39] carlosrovira opened #6257 "[REST API] Getting a cached version of a concrete url"
### What would you like to be added?

Hi, we are using the REST API to feed a mini app that uses 4 pods in a wordpress site:

https://avant2.es/productos-y-companias/

The App start at 33' aprox, since need to load 2 pods and process them in order to load another 2 pods. Seems REST API is slow.

If I could get a cached url I think I could improve times and just refresh when we change the pods data

[2021-10-28 15:31] #6243 closed, assigned to sc0ttkclark

[2021-10-28 17:53] #6254 closed, assigned to sc0ttkclark

[2021-10-29 04:58] Cskyleryoung opened #6258 "Changing CPT Slug creates duplicate in admin menu that's not editable in Pods."
## Description

Post 2.8 (which is awesome!) I tried changing a CPT slug. The results was _two_ of the same post types showing up in the admin menu, but still only one in the Pods list of editable CPTs. There was no obvious way to edit or remove the CPT with the original slug.

## Testing instructions

1. Create a CPT, for example News Letter PDF (news_letter_pdf).
2. Click into the CPT to edit it

[2021-10-29 14:05] JoryHogeveen opened #6259 "Date format 21.10.2021 not working"
## Description

https://wordpress.org/support/topic/date-field-in-2-8/

The date field format 21.10.2021 (d-m-Y) isn't working. It's not showing the date anymore.
Might be an issue with US and EU formats (day first or month first). My guess is that the script thinks the month goes first, but there are no month numbers higher than 12..

Pods version 2.8.3

[2021-10-29 14:21] JoryHogeveen opened #6260 "REST API depth for user relationships not working"
## Description

https://wordpress.org/support/topic/problem-with-custom-relationship-field-rest-api-2/

The results from the reporter and me are both different, not sure why..

Create a CPT with a relationship to users.
Set the REST Depth to 2.

My issue:
The REST API shows full user objects. Depth level is ignored.
Secondly, the key isn't the ID, should that be the case?

Reporters issue:
REST AP

[2021-10-29 15:09] RobertSistere opened #6261 "Possible bug with date format in Pods version 2.8"
Good morning!

This is my first contribution on GitHub, so I hope to do it properly.

I've been a Pods user for several years and for me it's an essential tool.

After the last update I noticed that when saving a Custom post an error appears in a _date_ field: incorrect format. The value entered in the date field is shown as follows (image-1).

The field is configured as _date type_ (image-2) with

[2021-10-29 18:50] Ruanna opened #6262 "Field added to Comments with Pods doesn't display to logged out users"
Hi, I posted this in Slack support thread, but thought you might need it here, too.

I extended WordPress Comments on a client site with Pods, adding one dropdown field, which worked great for the past year. The field displayed immediately without altering the comments.php file, both to users who were logged in, and to users who were not.

On 2021-10-28 I was advised by my client that the custom f

[2021-10-29 20:16] CloundNine opened #6263 "Files not attaching when date field present"
## Description

2 instances so far.  Sites built with pods pre-2.8, updated to 2.8.?  Pods are for documents to be uploaded and displayed with a date.  Date is chosen using date field.  When new item is created, date is chosen, <add file> file is uploaded.  Click publish, item publishes but the file is not attached.

## Testing instructions

I can provide admin access if needed/its a dummy site as

[2021-10-30 18:41] exonianp opened #6264 "Aesthetic: Please modify the window in the advanced search"
## Description

Please increase the frame so that the frame does not show up when making a selection.

## Testing instructions

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error message '....'

## Expected behavior

## Screenshots / screencast

![image](https://user-images.githubusercontent.com/6937118/139554903-5dcd89ea-6c7f-408b-bcbc-2ff4171a4cd5.png)

## Possible workaroun

[2021-10-30 21:12] psusu opened #6265 "Translate pods component not translating description if default is set"
## Description

I've found an issue using "translate pods" component: translate pods not translating if default is set.

It works well with labels translations but I've found some weird behaviours with field description and other elements like buttons and selectors text.
If the default value isn't defined (for example if I leave the description field empty) the translation works well, if the defal

[2021-10-31 16:57] HinomaruIL opened #6266 "Pod management tabs disappearing after 2.8 update"
As discussed on Slack, after updating from 2.7.3 to 2.8.3 using the wordpress plugin updater, all tabs for managing pods except for fields and REST API disappeared. Issue persisted after rolling back or trying to install a different version of the plugin.
In my case restoring from backup and updating again did not replicate the issue.

[code]

[2021-11-01 07:32] carlosrovira commented on #6257
Hi scott, thanks.

Ok, a part from looking to performance in pods, maybe something like this could be put at hand for pods users from pods interface:

https://wordpress.stackexchange.com/questions/277307/how-can-i-cache-wordpress-rest-api-response

Most of the time you have a CMS with static data that doesn't change until you add or update it (in days or weeks). So making some cache will save lots

[2021-11-01 09:39] canonex commented on #6265
![screenshotPodsTranslation](https://user-images.githubusercontent.com/1444378/139652277-4c5cbdf9-61a7-4b90-aa89-3175d77bda35.png)
A screenshot.

[2021-11-01 10:24] JoryHogeveen commented on #6265
Hi @canonex

I've just updated the PR, could you test it?

[2021-11-01 12:57] JoryHogeveen commented on #6266
Hi @HinomaruIL

Do you mean you cannot reproduce this issue yourself?

[2021-11-01 12:58] JoryHogeveen commented on #6261
@zrothauser This format is most likely incompatible with the date picker.

[2021-11-01 13:02] HinomaruIL commented on #6266
Hi @JoryHogeveen , that's correct, but @sc0ttkclark asked me to report it anyway to be fixed 'so that the detection of extended objects doesn't rely on that field and used init detection going forward'.

[2021-11-01 13:05] JoryHogeveen commented on #6264
Hi @exonianp

Please provide a description on how we can reproduce your situation so we can test this ourselves.
Also include any custom code needed to reproduce.

[2021-11-01 13:07] JoryHogeveen commented on #6266
@HinomaruIL
Check, thanks for letting me know!

[2021-11-01 13:20] JoryHogeveen commented on #6083
@MartvanderKruis
Could you please test the patch in #6269 ?

[2021-11-01 14:18] adcommunicatie opened #6270 "Filter, datefield and rest"
## Description

Please see my post on WordPress forum: https://wordpress.org/support/topic/filter-datefield-and-rest/#post-15019021

We are encountering the following errors when updating from 2.7.X to the latest 2.8.3:

- The default Filter buttons throws an SQL-error:

[code]

- The custom PODS fields are not working anymore with the REST API

/wp-json/wp/v2/podsname?per_page=100

Standard field

[2021-11-01 15:02] JoryHogeveen opened #6271 "DateTime: undefined index `c`"
When selecting a unix timestamp as format Pods shows an error that it cannot find that date format.

[2021-11-01 15:03] #6271 closed

[2021-11-01 15:08] JoryHogeveen opened #6272 "DateTime: ISO time (`c`) format not working"
## Description

The `c` format (ISO format) isn't working because React still adds a separate time part.
Example: `2021-11-11T15:05:27+01:00 3:05pm`. The last part (`3:05pm`) should not be added here.

Pods 2.8.3

[2021-11-01 15:15] JoryHogeveen commented on #5917
@sc0ttkclark Maybe close this as we do not use the jQuery timepicker anymore

[2021-11-01 15:17] JoryHogeveen commented on #6213
@sc0ttkclark
I still think it would be better if React would send the HTML5/MySQL format to the server and not custom formats.
We did the same think for jQuery.

[2021-11-01 15:18] JoryHogeveen commented on #6259
Also see my comment here: https://github.com/pods-framework/pods/issues/6213#issuecomment-956322884

[2021-11-01 15:18] JoryHogeveen commented on #6272
Also see my comment here: https://github.com/pods-framework/pods/issues/6213#issuecomment-956322884

[2021-11-01 15:24] JoryHogeveen commented on #6238
@sc0ttkclark
Also got two extra users on the forums facing the same issue: https://wordpress.org/support/topic/cantt-search-by-text-on-relationship-fields-since-2-8/

[2021-11-01 23:15] psusu commented on #6265
Hi @JoryHogeveen thank you for the update, is a strong enhancement and is very helpful.
After some tests I noticed that the update works fine **only if current administrator has the same language of the wp default language** set in options.

If you have two or more users with different languages you'll see that sometimes the main strings (label and description) will be overwritten automatically wi

[2021-11-02 06:32] JoryHogeveen commented on #6265
Hi @psusu

Noticed this just now and I believe this is a bug introduced with this PR. I'll look into this!

Other fields like yes/No need some more translation fields.

Correct, these translations are done by translating Pods. It might be a nice enhancement to allow overwrites in these fields but that would be a separate feature request. I will however take a look at the yes/no field and see if I

[2021-11-02 06:43] JoryHogeveen commented on #6265
I've added some extra fixes to the PR, thank you for pointing out the bug. The issue was that I did prevent overwrites on the edit page but while saving Pods it uses the REST API and the filters where still active.

Please test again if you have the time!

[2021-11-02 07:11] JoryHogeveen opened #6273 "Invalid proptype boolean for `wysiwyg_allowed_html_tags`"
The proptype for `wysiwyg_allowed_html_tags` should be a string.

[2021-11-02 07:13] JoryHogeveen commented on #6273
Fixed in: https://github.com/pods-framework/pods/commit/5cb917b2e83f8fa0698f2bed112933e5140c1f2c

[2021-11-02 07:13] #6273 closed

[2021-11-02 07:24] JoryHogeveen opened #6274 "Enhancement: Cusomize color field labels."
Currently the color field labels ("Select Color" and "Clear" aren't customizable.
Maybe we can allow overwrites through the field options.
This will also allow translations of these labels.

[2021-11-02 07:35] JoryHogeveen opened #6275 "Placeholder option not working"
Pods 2.8.3 (2.8.4-dev actually)

The placeholder options aren't working anymore. There is a default `placeholder` option but React only looks for field specific options like `text_placeholder`.
This should just be `placeholder` for all field types, just like `label` and `help` as it was in 2.7.

[2021-11-02 07:49] JoryHogeveen opened #6277 "Enhancement: Cusomize pick field "Add New""
Currently the pick field label "Add New" isn't customizable.
Maybe we can allow overwrites through the field options.
This will also allow translations of these labels.

[2021-11-02 12:27] Andreas2209 commented on #6238
Hi, i have the same issues - is there a way for me to contribute in order to help fixing it?
best regards Andreas

[2021-11-02 15:51] sc0ttkclark commented on #6275
The placeholder option is per field and it's prefixed already in the field options.

However, the 2.7.x code remains unchanged in this area: https://github.com/pods-framework/pods/blob/main/classes/PodsForm.php#L581 which shows that it uses the placeholder property first, then uses the field type specific property. I can fix this in the React code to have the same fallback.

[2021-11-02 15:57] jomarieminney commented on #6255
In case this helps, a screen capture vid of it happening: https://www.screencast.com/t/uE8zRhsHlpV3

[2021-11-02 16:43] lucasmkrolow commented on #6238
Same issue here.
Funny thing is that it happens only in one field, the others (with similar context) are working normally. I compared all the field settings with those working but saw no difference.
Everything was working before 2.8 update.

[2021-11-03 00:36] psusu commented on #6265
Hi @JoryHogeveen
Now seems to work correctly!
The boolean labels work fine.

I have to test Color field and pick field too. I've seen the fields but I can't see the text change, so I'll do some other tests.

[2021-11-03 08:49] JoryHogeveen commented on #6265
Hi @psusu
The color and pick field are separate from this patch, you cannot test translations yet!
Thank you for testing and your feedback!

[2021-11-03 09:03] JoryHogeveen opened #6279 "Clear cache on update"
Noticed various bug reports of updates that went wrong because the cache needed to be cleared.
Probably best if we register an update script for Pods that always clears Pods cache on update (whether it's from the UI or manual with FTP).

[2021-11-03 10:30] eeboo opened #6280 "Unable to add related media to an advanced pod"
## Description

In creating a new entry of an advanced pod, it is not possible to add an image.

## Testing instructions

1. Go to wordpress dashboard
2. Click on add (advanced POD)
3. Fill info and add a media, submit
4. The media is not saved

## Expected behavior

The media should be saved and retrieved when editing the pod.

## Pods version

2.8.3

[2021-11-03 10:36] nf0l opened #6281 "New document upload not saving on page save"
Hello, When i go to add a pdf file to a club (pod is called club) the pdf which i upload isnt added to the Pod. I click save and the document just doesnt get added into the club. I have rolled back to a very early version 2.6.11.2 and the file upload works. So something between then and the latest verison of Pods is causing the file to not save.

Upload a new document to a pod and the pod document

[2021-11-03 11:18] TrevorSqE commented on #6238
Perhaps related, but I seem to be unable to drag and drop selected items in an Auto-complete relationship field into a new sort order.

[2021-11-03 14:20] rmasulli opened #6282 "Problem saving Image Gallery (custom field) images, when adding or editing my Pod (Ornaments)."
- `##` Description
Noticed that when adding or editing my pod (Ornament), I am able to load images from the Media Library, to the custom field (Image Gallery), but upon saving the record, the images are not saved.

## Testing instructions

This problem began on Pods created or edited after October 25th.
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error message '....'

## Expe

[2021-11-03 14:26] nancymac opened #6283 "PODS WYSIWYG (Visual Editor) Options no longer showing shortcuts. See before and after image:"
## Description

The WYSIWYG editor only allows for images now. It used to allow for shortcuts to other installed apps.

## Testing instructions

Create a PODS with a WYSIWYG field. Create a custom post of that type. Edit the custom field. Only "Add Media" shortcut appears. PODS  shortcut (along with others, depending on what plugins you have installed) should appear. In particular, this client nee

[2021-11-03 14:40] rmasulli commented on #6282
Pods Version 2.8.3  Noticed that when adding or editing my pod (Ornament), I am able to load images from the Media Library, to the custom field (Image Gallery), but upon saving the record, the images are not saved. This problem began after October 25th. I had to rollback the plugin to 2.8.1 to be able to restore my ability to save Image Gallery images to the Ornament record.  The Featured Image co

[2021-11-03 16:33] rmasulli commented on #6282
Not sure if it matters, but the Pod is a Meta Storage, Custom Post Type
![Pod Management](https://user-images.githubusercontent.com/79271672/140102784-371f0334-a399-4036-a02a-324bb92f0790.JPG)

[2021-11-03 19:46] mbd-agency opened #6284 "More Fields Window Truncates Options"
Currently I am seeing the windows for relationships between two fields not allowing for scrolling to all options. Working in Safari... Ideas?

[2021-11-03 23:25] jenpomphrey commented on #6281
Also having this issue with image uploading.

[2021-11-04 13:25] JoryHogeveen opened #6285 "Bug i18n integration for non-translatable objects"
## Description

Found a bug in the i18n integration for non-translatable objects with relationship options to translatable objects.
If there is no language available (since the object isn't translatable) the table info is still modified.
This causes no objects to be returned for relationships.

[2021-11-04 13:48] JoryHogeveen opened #6287 "REST field settings do not work"
## Description

If the `all` option from a Pod isn't selected you should be able to enable write or read info by field.
This doesn't work anymore since: https://github.com/pods-framework/pods/commit/f7c3b6e42a9c66ae62c2a25d635e921f1dae8488

Maybe related: https://wordpress.org/support/topic/problem-with-custom-relationship-field-rest-api-2/

[2021-11-04 15:17] rmasulli commented on #6282
I neglected to turn off auto update, so the plug in automatically updated back to 2.8.3. I noticed that an administrator added some new ornaments (pods) after the update and was able to add images and successfully save them.  I just tested and it seems to  be working properly, so I am going to close this issue.

[2021-11-04 15:17] #6282 closed

[2021-11-04 15:20] JoryHogeveen commented on #6260
Not sure what has changed but I cannot reproduce this issue anymore

[2021-11-04 18:38] JoryHogeveen commented on #6284
Hi @mbd-agency
Please file a complete bugreport and provide any info that help us understanding what you mean like screenshots.
I've modified your original topic and included all our questions.

[2021-11-04 18:41] JoryHogeveen commented on #6283
@zrothauser @sc0ttkclark
This is probably because of the `media_buttons` filter that isn't used by REACT.
https://developer.wordpress.org/reference/hooks/media_buttons/

[2021-11-04 19:04] JoryHogeveen commented on #6275
@sc0ttkclark Okidoki, see PR!

[2021-11-05 02:11] sc0ttkclark commented on #6287
Fixed via https://github.com/pods-framework/pods/pull/6288

[2021-11-05 02:11] #6287 closed

[2021-11-05 02:11] sc0ttkclark commented on #6275
Fixed via https://github.com/pods-framework/pods/pull/6289

[2021-11-05 02:11] #6275 closed

[2021-11-05 02:12] sc0ttkclark commented on #6285
Fixed via https://github.com/pods-framework/pods/pull/6286

[2021-11-05 02:12] #6285 closed

[2021-11-05 02:27] sc0ttkclark commented on #6277
Fixed via https://github.com/pods-framework/pods/pull/6278

[2021-11-05 02:27] #6277 closed

[2021-11-05 02:31] sc0ttkclark commented on #6274
Fixed via https://github.com/pods-framework/pods/pull/6276

[2021-11-05 02:31] #6274 closed

[2021-11-05 02:32] sc0ttkclark commented on #6265
Fixed via https://github.com/pods-framework/pods/pull/6267 + https://github.com/pods-framework/pods/issues/6274 + https://github.com/pods-framework/pods/issues/6277

[2021-11-05 02:32] #6265 closed

[2021-11-05 03:04] sc0ttkclark commented on #6261
Fixed via 296ebf6dd369b66995282ca5e8d89154a69ab473 and subsequent regex tweak in cf4e37196ca2ce8364be5e29ba19c763e4a556de

[2021-11-05 03:04] #6261 closed

[2021-11-05 03:24] sc0ttkclark commented on #6272
Fixed via 9ac961d4cce3ed0a0076afa11bdafc8ec5e0f79c

[2021-11-05 03:24] #6272 closed

[2021-11-05 03:30] sc0ttkclark commented on #6213
Previously, we used `altField` with jQuery UI datepicker and it would automatically use/store the MySQL value. It did submit the date/time in MySQL format on form submit. New DFV code does not have this functionality though it's possible we could look into a similar implementation with time.

For now, the PHP solution we've put into place takes advantage of the same logic that jQuery was doing cli

[2021-11-05 03:33] sc0ttkclark commented on #6256
Fixed via 20f39438be0f648026016b09e0d51e82555a5515

[2021-11-05 04:19] sc0ttkclark commented on #6259
Fixed via 3ae78798d2e8ac3e2d57b9d7d695e94a0af6008f

[2021-11-05 04:19] #6259 closed

[2021-11-05 05:19] sc0ttkclark commented on #6266
Fixed via 950f56fe2639fecc53e2924076bc9350cf52261c in which it better handles dynamically whether a content type is extended or not.

[2021-11-05 05:19] #6266 closed

[2021-11-05 09:59] JoryHogeveen commented on #6213
Ok, I think we would greatly benefit of a similar implementation as I can recall a lot of issues and bugs with parsing dates through PHP. This is the whole reason I added the altField as a solution: https://github.com/pods-framework/pods/pull/5451

[2021-11-05 10:15] JoryHogeveen commented on #6265
Added the new field labels in the i18n component through: https://github.com/pods-framework/pods/commit/8975248f77a0ff2172867692628506b2624ca6fe

[2021-11-05 13:36] Frisoni opened #6290 "Shortcodes not being rendered inside IF/ENDIF code"
## Description

Inside a Template I use some shortcodes from my theme.
After 2.8.2 update, shortcodes inside IF/ELSE/ENDIF are not converting to html.

Started this topic on https://wordpress.org/support/topic/shortcode-problem-inside-if-endif/#post-15039635

Example:

[code]
Render this code:

[code]
## Testing instructions

Inside a normal page I call this shortcode:
`[pods name="diva" template=

[2021-11-05 14:09] JoryHogeveen commented on #6290
@Frisoni
Did you add `define( 'PODS_SHORTCODE_ALLOW_SUB_SHORTCODES', true );` to your wp config file?

[2021-11-05 15:04] Frisoni commented on #6290
Hi @JoryHogeveen .

Yes, I have PODS_SHORTCODE_ALLOW_SUB_SHORTCODES = true and this code:
[code]

[2021-11-05 16:09] puntaschoice commented on #4765
Hi - I've come at this from WP Forums looking to have Settings PODS visible as a REST API (or GraphQL) endpoint (Since version 3.8), so as to be able to gain access to the data / settings externally, and in my case, then use those settings to action the response of the software pulling and then writing back.  For example, ability to let a user select default post category and image that then means

[2021-11-05 20:44] sierracircle commented on #6227
I just updated all of the fields that were being saved from a checkbox from plain text to  Code (Syntax Highlighting), then updated Pods to 2.8.3  and everything seems functional.
I used the following admin css to alter the code-boxes to look like plain text boxes:
`//some custom css for the admin area
add_action('admin_head', 'my_custom_fonts');
function my_custom_fonts() {
  echo '<style>

.Code

[2021-11-05 20:45] #6227 closed

[2021-11-08 08:17] JoryHogeveen opened #6292 "2.8: Migration to Group fields didn't go well in all installations"
## Description

This issue is a collection of reported issues on GitHub, WP forums and Slack.

A lot of users are having issues with the image/file fields. After the update it won't save anymore. From what I understand from various reports is that re-saving the Pod fixes any issues but this means we're not backwards compatible.

## Related Issues:

**Main issue:**
https://wordpress.org/support/top

[2021-11-08 15:28] nancymac opened #6294 "File Upload field NOT WORKING"
## Description

The File / Image / Video field will not accept a new upload. Problem disappears if you edit the Pods and re-save it.

## Testing instructions

1. Go to an EXISTING site
2. Create a new custom post - pods must contains a file type field
3. Upload a PDF file to the field.
4. No error - but file is NOT attached.

If you open the Pods (dashboard->Pods Admin->Edit Pods->Publications) an

[2021-11-08 15:32] sc0ttkclark commented on #6216
Following up here --

Here's the screencast of me reproducing it this weekend: https://share.skc.dev/7KuAEOGB

JSON package: https://share.skc.dev/WnukkYvm

[2021-11-08 15:51] Level3Manatee commented on #6238
Came across this issue as well. This warning seems related:
`PHP Warning:  in_array() expects parameter 2 to be array, string given in [...]/wp-content/plugins/pods/classes/fields/pick.php on line 2529`

[2021-11-08 19:00] rcrdb opened #6295 "Compatibility issue between Pods and WPML - Divi theme"
## Description

Anytime we try to edit a translated custom post there is an issue stating: "There has been a critical error on this website. Please check your site admin email inbox for instructions." This is not happening only with original set language post which is english.
This bug came out of nowhere. This was not happening few months ago.

## Testing instructions

1. Go to 'Tours' in the ita

[2021-11-08 20:34] pdclark commented on #6292
Confirmed in testing.

- Creating a file field from scratch in `2.8.4` works fine.
- If you create a `file` field in `2.7.31`, then upgrade to `2.8.4`, the value of the file field gets "stuck". (I can't remove a file uploaded when it was `2.7.31`. No errors.)
- Re-saving the Pod in `2.8.4` resolves the issue.

@sc0ttkclark

[2021-11-08 21:25] sc0ttkclark commented on #6292
Any notable differences in the pod config from a package export?

[2021-11-08 23:10] joker-x opened #6296 "New plugin pods-admin-columns"
I have written a plugin that add this Pods Admin UI configuration option to any custom field to allow show it as a column in Wordpress dashboard:

![image](https://user-images.githubusercontent.com/1895563/140832251-3639e488-8c14-40b9-9d4b-97569fab09bd.png)

It is my first plugin. Any help and advices are wellcome.

Source code: https://github.com/joker-x/pods-admin-columns

[2021-11-09 02:50] sc0ttkclark commented on #6292
I didn't see anything of importance in the package itself when comparing 2.7.31 to 2.8.4.

I'll keep digging into this to see if there's anything I can find here.

[2021-11-09 08:19] JoryHogeveen commented on #6292
@sc0ttkclark Note this topic: https://wordpress.org/support/topic/chosen-relationships-arent-saving/

The original post is similar to this issue but he could resolve it with alternative cache? Maybe this is a cache issue of some sort?

[2021-11-09 14:48] dweuste commented on #6176
A question as this is still being worked on. Is there a way to make the code editor add or interpret line breaks? Getting clients to wrap all text in spans hasn't been super consistent, and years old code end up doing some strange things without them.

[2021-11-09 19:42] pdclark commented on #6292
These are the package exports.

The exports look different between versions, and again is different in `2.8.3` before saving the pod and after saving the pod. Saving the pod resolves the issue.

`2.7.31`
[code]

`2.8.3 — Before Save`
[code]

`2.8.3 — After Save`
[code]

@sc0ttkclark

[2021-11-10 01:52] chadbush opened #6297 "[1.x code] Fatal error since 2.8 update related to pods ui plugin (Fatal error: Uncaught Error: Cannot use object of type Pod as array)"
## Description

On an old client site, since the 2.8 update, the entire admin UI is broken in terms of managing content with pods. The front end is fine, but upon trying to edit any of the advanced content types via the screens generated by old custom pods ui code, a fatal error occurs.

## Testing instructions

1. Install this custom pods ui plugin (the entire text of the plugin is pasted here),

[2021-11-10 02:36] sc0ttkclark commented on #6297
It looks like you are using older Pods 1.x code here. Follow the information posted here to help you migrate your Pods 1.x code to compatible 2.x code.

Pods 2.8 introduces breaking changes for some code that previously worked with Pods 1.x code and this may be one of those areas.

https://docs.pods.io/compare-functionality-in-pods-1-x-to-pods-2-x/

[2021-11-10 05:10] chadbush commented on #6297
Thanks to direct chat support with @sc0ttkclark, all the issues I've described here have been resolved.

I had missed some major refactoring that needed to be done when PODS updated from 1.x to 2.x, and hadn't even realized it. My client's old site was running deprecated code for years and with 2.8 it finally broke.

I'm amazed at the personal attention I've received to help me resolve this matter

[2021-11-10 05:10] #6297 closed

[2021-11-10 07:33] TrevorSqE commented on #6294
We've noticed this too.  Thanks for the workaround @nancymac.

[2021-11-10 09:06] JoryHogeveen commented on #6294
Related to: https://github.com/pods-framework/pods/issues/6292

[2021-11-10 09:12] JoryHogeveen commented on #6292
@sc0ttkclark @pdclark

I noticed in your package exports that after saving there are some changes:

- Unrelated items are removed
- The post has a new option `_migrated_28`
- The group has an `id` option that didn't exist before (besides `description` and `weight`.

I think the latter (`id` option) is the issue here.

[2021-11-10 14:17] sc0ttkclark commented on #6292
The export gives it a temporary group, it's not a real group until they open the pod edit screen. The group isn't used anywhere during saving pod item data at the moment.

It must be something else we are missing or it's not as simple of a solution like we thought. Do we know it doesn't recur even after saving the pod?

[2021-11-10 15:51] guille110187 opened #6298 "[before] & [after] not working after upgrade to version 2.8.3"
## Description

after I upgrade to version 2.8.3 [before] and [after they] stopped working

## Testing instructions

**This is my code**
[if approvals]
[before]<table class="product_table" id="table_product"><tbody>[/before]
[each approvals]
        <tr>
            <td>
            <h4>{@post_excerpt}</h4>
            </td>
            <td>{@_img.medium}</td>
        </tr>
[/each]
[after]</tbody>

[2021-11-11 16:38] JoryHogeveen commented on #6094
Another user mentioned this issue: https://wordpress.org/support/topic/multiple-select-list-view-drag-and-drop/

[2021-11-12 16:48] sc0ttkclark commented on #6279
PodsView and all transients/caches are salted with the Pods version right now, but there's a possibility that dot characters could be making it in and could causing a problem -- 2.8.4 introduces this to help with that: 930e3444206761b0e32fd6a68dcf87465965f8be

[2021-11-12 17:01] sc0ttkclark opened #6299 "Test issue in new form"
### Description

Some

Text

**Here**

### Version

2.8.3

### Testing Instructions

1. Do something
2. Success

### Screenshots / Screencast

Screenshot links or files here

### Possible Workaround

Other workaround text here

### Site Health Information

[code]

### Pods Package

[code]

[2021-11-12 17:02] sc0ttkclark commented on #6299
Test worked

[2021-11-12 17:02] #6299 closed

[2021-11-12 20:45] sc0ttkclark commented on #6279
Closing this for now since salt changes and effectively the old cached data is no longer used/referenced

[2021-11-12 20:46] #6279 closed

[2021-11-12 20:47] sc0ttkclark commented on #6292
Fixed via https://github.com/pods-framework/pods/commit/b9fdc5484ddcb71080141f7458ede0b1154fca1f

The problem was that some Relationship field logic (object/val) and associated checks were running for File fields when they shouldn't have. Normally not a problem but some of the 2.7.x configurations were saving with pick_object and other non-file field type options that were tricking the logic. Now

[2021-11-12 20:47] #6292 closed

[2021-11-12 20:49] sc0ttkclark commented on #6294
Fixed via https://github.com/pods-framework/pods/commit/b9fdc5484ddcb71080141f7458ede0b1154fca1f

[2021-11-12 20:49] #6294 closed

[2021-11-12 20:49] sc0ttkclark commented on #6282
Fixed via https://github.com/pods-framework/pods/commit/b9fdc5484ddcb71080141f7458ede0b1154fca1f

[2021-11-12 20:49] sc0ttkclark commented on #6281
Fixed via https://github.com/pods-framework/pods/commit/b9fdc5484ddcb71080141f7458ede0b1154fca1f

[2021-11-12 20:49] #6281 closed

[2021-11-12 20:50] sc0ttkclark commented on #6280
Fixed via https://github.com/pods-framework/pods/commit/b9fdc5484ddcb71080141f7458ede0b1154fca1f

[2021-11-12 20:50] #6280 closed

[2021-11-12 20:50] sc0ttkclark commented on #6263
Fixed via https://github.com/pods-framework/pods/commit/b9fdc5484ddcb71080141f7458ede0b1154fca1f

[2021-11-12 20:50] #6263 closed

[2021-11-12 21:04] sc0ttkclark commented on #6258
Fixed via b0b0b9767fa9042971fc20d19551b1916ff63086

[2021-11-12 21:04] #6258 closed

[2021-11-12 22:22] sc0ttkclark commented on #6283
I don't see a way to support this in the short term, going to move this to a future release.

[2021-11-12 23:08] sc0ttkclark commented on #6238
@Level3Manatee Fixed the reported notice in 870edba3a04f475a9cb95c27d1cb3658e61ec2c7

@TrevorSqE Drag and drop relationship issue is tracked at https://github.com/pods-framework/pods/issues/6094

I'm digging into the remaining issue with search not working as expected when using on-page non-AJAX requests using the data given to the AsyncSelect instance in React.

[2021-11-13 04:34] sc0ttkclark commented on #6238
Fixed the non-AJAX searching in select via 528413b3cc282c2d57675ef54cc0b288c9c9c91f

[2021-11-13 10:19] swabhav opened #6300 "Date Field Not Showing"
I'm getting a problem with the date field showing a blank box.
getting error on pods Version 2.8.3
check the screenshot - https://prnt.sc/1xlklvf

[2021-11-14 04:39] sc0ttkclark commented on #6300
Where do you see this happening? In your editor or on the front of your site?

Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see if we can reproduce the issue.

Also helpful would be access to your Site Health information (Tools > Site Health > Info Tab > Copy site info to clipbo

[2021-11-14 04:44] sc0ttkclark commented on #6298
Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see if we can reproduce the issue.

Also helpful would be access to your Site Health information (Tools > Site Health > Info Tab > Copy site info to clipboard) would also help us determine if there are any potential conflicts from oth

[2021-11-14 04:48] sc0ttkclark commented on #6296
Would you be interested in contributing this as an enhancement to Pods itself or would you prefer to keep it in it's own plugin that you plan to expand with further functionality?

If you would like to contribute, maybe we can find some time to hang out for about an hour this month and we can pair program as we get it incorporated within Pods 2.8.5?

[2021-11-14 04:50] sc0ttkclark commented on #6295
@JoryHogeveen Can you take a look at the issue here this week and let me know what you find out?

[2021-11-14 05:17] sc0ttkclark commented on #6295
I'm not sure what caused this issue specifically but I can say that it's resolved in 2.8.4 by additional checks to see whether a Pod object exists before this line.

[2021-11-14 05:20] sc0ttkclark commented on #6290
Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see if we can reproduce the issue.

Also helpful would be access to your Site Health information (Tools > Site Health > Info Tab > Copy site info to clipboard) would also help us determine if there are any potential conflicts from oth

[2021-11-14 05:21] sc0ttkclark commented on #6284
Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see if we can reproduce the issue.

Also helpful would be access to your Site Health information (Tools > Site Health > Info Tab > Copy site info to clipboard) would also help us determine if there are any potential conflicts from oth

[2021-11-14 05:29] sc0ttkclark commented on #6262
Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see if we can reproduce the issue.

Also helpful would be access to your Site Health information (Tools > Site Health > Info Tab > Copy site info to clipboard) would also help us determine if there are any potential conflicts from oth

[2021-11-14 05:30] sc0ttkclark commented on #6264
Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see if we can reproduce the issue.

Also helpful would be access to your Site Health information (Tools > Site Health > Info Tab > Copy site info to clipboard) would also help us determine if there are any potential conflicts from oth

[2021-11-14 08:07] jlapitan opened #6301 "Error Editing existing pods(other language using WPML)"
### Description

Was using an older version of Pods(2.7.31), updated to version 2.8.3 and was trying to add edit/add new content on another language when I encountered the issue.

When I tried to edit an existing post on another language I got this error:

`PHP message: PHP Fatal error: Uncaught Error: Call to a member function get_field() on bool in /www/xxxxx_896/public/wp-content/plugins/pods/c

[2021-11-14 08:07] jlapitan commented on #6301
@sc0ttkclark

[2021-11-14 08:11] wildmercury commented on #5945
I have a very similar issue (same variance across languages, same SELECT DISTINT LEFTJOIN type of query) on a prod site after latest update of Pods. All I can add is that I get a 500 error on the front end and this in the error log:

Hosted on SiteGround with PHP 7.4.25.

[2021-11-14 08:15] jlapitan commented on #6301
{
   "meta":{
      "version":"2.7.31",
      "build":1636877343
   },
   "pods":{
      "2249":{
         "id":2249,
         "name":"external_news",
         "label":"External News",
         "description":"",
         "type":"post_type",
         "storage":"meta",
         "object":"",
         "alias":"",
         "fields":{
            "news_source":{
               "id":2250,

[2021-11-14 08:15] jlapitan commented on #6301
{
    "meta": {
        "version": "2.8.3",
        "build": 1636877508
    },
    "pods": [
        {
            "name": "external_news",
            "id": 2249,
            "label": "External News",
            "description": "",
            "label_singular": "External News",
            "public": "1",
            "show_ui": "1",
            "supports_title": "1",
            "supports_editor":

[2021-11-14 11:42] Level3Manatee commented on #6238
Can confirm this fixes the issue (auto-completion as well as the warning)

[2021-11-14 22:01] sc0ttkclark commented on #6262
Fixed via 577b1f2789740d0342e22cb1dfa2c635cb27b445

[2021-11-14 22:01] #6262 closed

[2021-11-14 22:02] sc0ttkclark commented on #6262
Note: The only place in WordPress that Pods can hook on for both logged in / logged out is just above the submit button. Moved to standardize on that now.

[2021-11-14 22:08] sc0ttkclark commented on #6264
Fixed via d817ab01d15f2d26424bf770de79ee840a7c71d7

[2021-11-14 22:08] #6264 closed

[2021-11-14 22:20] sc0ttkclark commented on #6301
This is resolved in Pods 2.8.4 already but I'm not sure what is causing the pod objects to not be found here. Maybe it's getting confused somewhere else but the error no longer happens. I'm going to keep this open to look at in 2.8.5 in case there's any other logic up in the pod set up to sort out.

Also I'd like to add other meta keys to bypass anyways including these.

[2021-11-14 22:24] sc0ttkclark commented on #5744
Fixed via 282441112c79693a245c1d67f5bd84e1ec41aa8c

Enforcing on pod save and forcing as blank if it sees "/"

[2021-11-14 22:28] #5744 closed

[2021-11-14 22:35] #3724 closed

[2021-11-14 22:47] sc0ttkclark commented on #6255
Fixed via #6291

[2021-11-14 22:47] #6255 closed

[2021-11-14 23:46] exonianp commented on #6264
Thank you @sc0ttkclark
I am sorry I just seen the messages. I will check it out on 2.8.4 and will let you know if it is sorted.

[2021-11-14 23:48] Ruanna commented on #6262
Thank you - apologies for not providing the requested information in time, but sounds like you got it without me. Please advise if I'm wrong, otherwise - I really appreciate the work on it.

[2021-11-15 00:42] joker-x commented on #6296
I would like to integrate my little plugin in pods core. As independent plugin, it could be used by hundreds of wordpress instances. As an enhancement, by hundreds of thounsand.

I am very excited to do a pair program session with you. Could I invited some friends to it?

Thanks a lot!

[2021-11-15 05:04] jlapitan commented on #6301
@sc0ttkclark how can i test the v2.8.4? would like to test it on my staging site, thanks!

[2021-11-15 09:33] carlosrovira commented on #5945
Hi @wildmercury, is your site using WPML? This problem was about using WPML but was fixed.  IMHO, an error 500 indicates something different that seems not related to this problem. Did you try to enable debug to see more traces on screen. Usually that use to help to determine what's happening behind.

Also, when migrating to 2.8 I found that some of my pods config was missing configuration checks

[2021-11-15 12:20] eeboo opened #6302 "[storage table] fields disapear in edit page after importing an existing pod"
### Description

after importing an existing pod from a json file when editing existing table type pod, all fields disappear in edit page except the feshly created.
The data are still in database, maybe an issue related to properties group.

### Version

2.8.3

### Testing Instructions

1. export a pod and import a table based pod
2. edit the imported pod
3. the fields have disapear

### Screensho

[2021-11-15 12:52] guille110187 commented on #6298
Hi,

Attached the configuration.

`
### wp-core ###

version: 5.8.2
site_language: en_US
user_language: en_US
timezone: -04:00
permalink: /%postname%/
https_status: false
multisite: false
user_registration: 1
blog_public: 1
default_comment_status: undefined
environment_type: production
user_count: 2
dotorg_communication: true

### wp-paths-sizes ###

wordpress_path: /opt/bitnami/apps/wordpress/htd

[2021-11-15 13:14] wildmercury commented on #5945
Thanks for that. Yes, WPML and errors only on one language and with a PHP v8.0 test we get the following error:
Fatal error: Uncaught ValueError: Missing format specifier at end of string in /home/customer/www/[REDACTED]/public_html/wp-content/plugins/pods/classes/PodsInit.php:2034 Stack trace: #0 /home/customer/www/[REDACTED]/public_html/wp-content/plugins/pods/classes/PodsInit.php(2034): sprintf

[2021-11-15 14:06] vosykapavel commented on #5539
I have the same issue:
- in default wordpress backend admin metabox
- in the database, after I use `$pod->add( $data )` with code
- in frontend after I show the pods form (when user delete value, the zero is back immediately)
[code]

Even when the number is not required. 🤔

![image](https://user-images.githubusercontent.com/3764279/141795035-0d0ec5d3-6666-4f99-b004-52f78b457d9a.png)

[2021-11-15 14:52] wildmercury commented on #5945
Follow up on this: I did a manual update of String Translations for Pods FR fields namely:
'New %s' is translated to 'Nouveau %' corrected to 'Nouveau %s'
'View %s' is translated to 'Voir %' corrected to 'Voir %s'
That removed the Uncaught ValueError. Who should I direct the request for a more permanent correction there? Pods of WPML?

Still stuck with the original SELECT error...

[2021-11-15 15:20] sc0ttkclark commented on #6302
Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see if we can reproduce the issue.

Also helpful would be access to your Site Health information (Tools > Site Health > Info Tab > Copy site info to clipboard) would also help us determine if there are any potential conflicts from oth

[2021-11-15 15:24] carlosrovira commented on #5945
I mean that I need to select a couple of checks that was unchecked in 2.7, but was needed in 2.8 in "selected mode" (with the tick) after this major refactor. So 2.7 seems to be less strict in the need

If after try to revise checks and pod config and sabe the problem is not solved, I think you should log a new issue that tries to describe the problem as something new since to me it appears someth

[2021-11-15 17:46] Frisoni commented on #6290
Hi @sc0ttkclark.

I created a brand new WP installation for tests, What I found is that this is an incompatibility with enclosing shortcodes created and used by Flatsome theme. Maybe with other themes using shortcodes, but I didn't test any other.

You can check this wp install in the following link: https://wordpress-494822-2269592.cloudwaysapps.com/wp-admin/
User/pass: admin/admin

I created a b

[2021-11-16 11:09] kschaerer commented on #6238
Still not working.

El sáb., 13 de nov. de 2021 1:34 a. m., Scott Kingsley Clark <
***@***.***> escribió:

[2021-11-16 12:56] sc0ttkclark commented on #6238
@kschaerer which case isn't working? There may still be some case where it's not and I'd like to solve any remaining. What field configuration?

[2021-11-16 13:38] kschaerer commented on #6238
Multiple List View with reordering and Multiple autofill

[2021-11-16 13:53] lucasmkrolow commented on #6238
The issue I reported still exists on my form.

[2021-11-16 14:34] kschaerer commented on #6238
Very interesting. I am trying to call custom post types unsuccessfully.

Karina Schaerer
Copywriter - Creativa digital
+595 986 907120
| ***@***.***
| www.dibego.com
<http://facebook.com/karinaypunto> <http://instagram.com/karischga>
<http://twitter.com/karischga>

Create your own email signature
<https://www.wisestamp.com/create-own-signature/?utm_source=promotion&utm_medium=signature&utm_campaig

[2021-11-16 20:04] professorseo opened #6303 "Getting 500 response on list view and autocomplete relationship fields"
### Description

I am currently unable to update websites to 2.8.3 because of the use of autocomplete and list view fields.

I get the following error:
POST /wp-admin/admin-ajax.php?pods_ajax=1 [Response: 500]

If I manage to get inside a modal (already existing modal), the changes aren't saved. If I open a pod directly from admin.php?page=pods-manage-example, I cannot save it.

### Version

2.8.3

[2021-11-17 00:23] sc0ttkclark commented on #6238
I'm going to release 2.8.4 shortly and continue digging into this issue in Pods 2.8.5 as necessary. Please be sure to use the latest 2.8.4 that is on wordpress.org, that may mean you'll want to download the wordpress.org plugin zip and upload it over the existing 2.8.4 used from GitHub.

[2021-11-17 00:40] sc0ttkclark commented on #692
Closing this as we'll have repeatable date fields in #1095

[2021-11-17 00:40] #692 closed

[2021-11-17 01:06] HmCody commented on #6256
I just loaded 2.8.4 and this is still not working.

When I open a Field Event with known date values, the ones with a time of 00:00 are not loaded. Also, my field is set to use a 24 hour Time Format with no seconds, but the editor is displaying a 12 hour clock. If I enter "00" for the hour, it is immediately changed to "12" then if I type "a" in the am/pm spot, the whole field blanks out again. I

[2021-11-17 03:22] sc0ttkclark commented on #6303
It looks like your message was cut off. Is there any other detail you can provide as to what might be going on? Have you tried turning WP_DEBUG on me seeing if any error messages show on the page or in the AJAX network request?

Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see i

[2021-11-17 05:43] sc0ttkclark commented on #6270
Looking into this issue this week and will review to see if I can reproduce the exact case where this error gets shown.

Please also consider testing on Pods 2.8.4 that just went out today and may resolve related issues.

[2021-11-17 06:09] sc0ttkclark commented on #6303
Thanks for the email, the specific issues you reported have be resolved in the latest Pods 2.8.4 release that went out a few hours ago.

[2021-11-17 06:09] #6303 closed

[2021-11-17 07:02] professorseo commented on #6303
The issue is partially fixed. Updating to 2.8.4 still resets some relationship fields. Single select dropdown is still working as intended, i.e. I can see the fields as they were in the previous version.

- Importing tables "_podsrel" or the actual ACT Pod from the previous version doesn't solve the issue.
- The number of rows on _podsrel is the same on both 2.7* and 2.8.4.
- Saving list view rela

[2021-11-17 08:49] JoryHogeveen commented on #5539
Hi @vosykapavel Please check on the latest Pods version: 2.8.4 which has been release yesterday.

[2021-11-17 09:00] JoryHogeveen commented on #6301
https://wordpress.org/support/topic/error-editing-existing-podsother-language/#post-15063463

[2021-11-17 10:45] TrevorSqE commented on #6238
Thanks @sc0ttkclark!  Upgraded to 2.8.4.1, and I am now able to search for options by typing on an Relationship (Multi-select / Autocomplete / Item 1, Item 2 and Item 3) field.  Much obliged.

[2021-11-17 11:01] JoryHogeveen commented on #6238
Hi @TrevorSqE Thanks for letting us know! Closing topic :)

[2021-11-17 11:01] #6238 closed

[2021-11-17 11:01] TrevorSqE commented on #5858
Just tested this one with 2.8.4.1, and it's still an issue.  I have two CPTs "person" and "service" with a bi-directional relationship field on each, multi-select.  If I'm editing Service A, I can add Person X and Person Y, but not then delete Person Y;  I have to go and edit Person Y (where Service A is not selected) and then save, at which point they are removed from the field on Service A.

[2021-11-17 11:08] mindeltu commented on #6238
I am still facing the issue using it with Relationship / Simple custom defined list (Multiple select, Autocomplete, Item 1, Item 2, and Item 3).

[2021-11-17 12:06] sc0ttkclark commented on #6256
I'll take a look again, my initial testing showed this working so I'll see if something changed here.

[2021-11-17 12:14] coadr93 opened #6306 "Conflict with Rank Math Taxonomy and Elementor"
Hello awesome team from PODS.

So I've updated from 2.7.31 to 2.8.4.1 and I have an issue with Rank Math and Elementor.

I'll try to explain to the best of my ability. I did some testing and I've figured some things out.

Rank Math Pro creates a post type called Rank Math Locations with the Taxonomy Rank Math Location Categories.

With Pods 2.7.31 I'm able to extend the taxonomy Rank Math Location

[2021-11-17 12:31] JoryHogeveen commented on #6295
Same issue as #6301 which I also cannot reproduce :/

[2021-11-17 12:49] JoryHogeveen commented on #6295
Tested again and still am not able to reproduce.
What I believe is happening is that it tries to auto-translate the ID into a post that cannot be found for some reason.
https://github.com/pods-framework/pods/blob/2.8.3/classes/PodsMeta.php#L3492-L3496

However, I cannot reproduce this behavior, not can I find why it would do so..

[2021-11-17 12:51] HmCody commented on #6256
I just tried changing the settings for one of the date fields to disable HTML5 input and now it lets me enter a 00:00 time.

[2021-11-17 14:19] JoryHogeveen opened #6307 "Pods 2.8: destroyed conditional logic for pre 2.8 forms on front-end"
### Description

PR's https://github.com/pods-framework/pods/pull/5137 and https://github.com/pods-framework/pods/pull/5145 enabled conditional logic for frontend forms.
Since 2.8(.x?), this isn't working anymore.

There are two areas that do not work anymore:
- If you disable DFV for your forms none of the conditional logic is working. No conditional HTML is generated anymore.
- If you enable DFV

[2021-11-17 15:42] dweuste opened #6308 "Permalinks Overridden in 2.8.4.1"
### Description

After updating from 2.8.3 to 2.8.4.1 the custom permalink settings for WooCommerce were ignored. Deactivating Pods and re-activating Pods would fix or re-break even when only Pods and WooCommerce were active. After downloading 2.8.3 and replacing, the issue was resolved.

Note - I did not have the Pods Alternative Cache on the site this happened on. I don't know if that would have

[2021-11-17 15:47] JoryHogeveen commented on #5945
@wildmercury

'New %s' is translated to 'Nouveau %' corrected to 'Nouveau %s'
'View %s' is translated to 'Voir %' corrected to 'Voir %s'
That removed the Uncaught ValueError. Who should I direct the request for a more permanent correction there? Pods of WPML?

I cannot find this translation within the Pods FR translation files: https://translate.wordpress.org/locale/fr/default/wp-plugins/pods/
Whe

[2021-11-17 15:57] JoryHogeveen commented on #5858
Hi @TrevorSqE
I cannot seem to reproduce this behavior on my local installation running 2.8.4.1.
What multiselect UI did you choose? List view?

[2021-11-17 16:20] JoryHogeveen commented on #6300
https://wordpress.org/support/topic/pods-image-field-not-working/#post-15077602

[2021-11-17 16:36] cschoenfeld commented on #6300
Hi, I'm "akchas" from the wordpress.org thread. I'm attaching my Pods configuration and site health info, in the hope that it will help to diagnose the issue. Thanks!

[Pods-issue.zip](https://github.com/pods-framework/pods/files/7556341/Pods-issue.zip)

[2021-11-17 16:37] websitedesignby opened #6309 "pods_group_add is broken now"
### Description

I have used pods extensively in a project that was built in 2017. It has been working without major issues until recently.

The pod is used to extend an existing post type.

I had been hooking into the pods_meta_groups action to control the grouping of the meta-boxes.

[code]

This code now is just showing the plain custom fields and text boxes and not using the field definitions

[2021-11-17 16:53] sc0ttkclark commented on #6307
@zrothauser Something for you here -- the problem essentially is that when you have custom fields defined that are not added directly to the pod configuration itself -- they can't be targeted by field name like we did before (previously stored data-name on the inputs and used that for reference).

If we have a field render on the page that we have a name for, can we add that to the store of field

[2021-11-17 16:53] JoryHogeveen commented on #6307
Note: For DFV front-end using the `pods_field_` prefix works.
Example:"

[code]

[2021-11-17 16:55] sc0ttkclark commented on #6307
Note: Disabling DFV was never set up to support the old conditional logic, it'll go away once we get DFV fully implemented everywhere we disable it right now

[2021-11-17 18:25] JoryHogeveen commented on #6307
@sc0ttkclark I understand why you'd like to deprecate non-DFV fields but I'm not fond of this idea. React is nice but quite difficult for users to hook into. Regular fields are way more extendible, not only for existing fields but also for new/custom fields.

[2021-11-17 18:31] quasel commented on #6308
Hey same for me starts with: 2.8.4
https://weingut-windisch.at/store/ shows content of https://weingut-windisch.at/presse/ (edited)
rollback to 2.8.3 fixes it
broken on 2.8.4.1 too
deleted cache, resaved permalinks

[2021-11-17 20:29] professorseo opened #6310 "The issue is partially fixed. Updating to 2.8.4 still resets some relationship fields. Single select dropdown is still working as intended, i.e. I can see the fields as they were in the previous version."
The issue is partially fixed. Updating to 2.8.4 still resets some relationship fields. Single select dropdown is still working as intended, i.e. I can see the fields as they were in the previous version.

- Importing tables "_podsrel" or the actual ACT Pod from the previous version doesn't solve the issue.
- The number of rows on _podsrel is the same on both 2.7* and 2.8.4.
- Saving list view rela

[2021-11-17 23:23] sc0ttkclark commented on #6308
Resolved in Pods 2.8.5 that just went out

[2021-11-17 23:23] #6308 closed

[2021-11-17 23:52] dweuste commented on #6308
@sc0ttkclark - can confirm that it worked. Thanks for the turnaround speed!

[2021-11-18 00:49] sc0ttkclark commented on #6306
This wasn't React but an issue with some of the extending logic we had. Pods 2.8.5 should resolve this, can you confirm?

[2021-11-18 00:50] sc0ttkclark commented on #6310
Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see if we can reproduce the issue.

Also helpful would be access to your Site Health information (Tools > Site Health > Info Tab > Copy site info to clipboard) would also help us determine if there are any potential conflicts from oth

[2021-11-18 01:06] sc0ttkclark commented on #6238
@mindeltu can you file a new bug report for your specific case?

[2021-11-18 05:16] mmages opened #6312 "Fatal error upon update to 2.8.4.1, might have occured earlier"
### Description

Hello friends, long time no Pods! I have a site that is pretty creaky-old using Pods. Upon the update to the most recent version, I’m getting a fatal error when attempting to edit Pod data. Error text as follows:

WordPress version 5.8.2
Current plugin: Pods - Custom Content Types and Fields (version 2.8.4.1)
PHP version 7.4.25

Error Details
=============
An error of type E_ERROR

[2021-11-18 08:25] alfredo49 opened #6313 "Pods 2.8.4 & 2.8.4.1 and 2.8.5 convert some Custom Post Types to Custom Post Types Extended and breaks my site"
### Description

When i updated to Pods 2.8.4, all my site is messed up in front end, some pods info arent returned and a lot of php errors are returned

https://quienseasegura.com

I have to roll back to 2.8.3

### Version

2.8.4

### Testing Instructions

Front end page is messed up https://quienseasegura.com

### Screenshots / Screencast

This is what it looks like (pods 2.8.5)

![Captura de pa

[2021-11-18 09:07] JoryHogeveen commented on #6313
Hi @alfredo49

Can you share the errors you mention?

[2021-11-18 09:11] alfredo49 commented on #6313
Hi @JoryHogeveen

In the image, at the bottom

Database Error; SQL: SELECT DISTINCT `t`.*, `d`.* FROM `wp_posts` AS `t` LEFT JOIN `wp_pods_meme` AS `d` ON `d`.`id` = `t`.`ID` LEFT JOIN `wp_term_relationships` AS `polylang_languages` ON `polylang_languages`.`object_id` = `t`.`ID` AND `polylang_languages`.`term_taxonomy_id` = 2 WHERE ( ( `category`.`slug` = 'home-meme-es' ) AND ( `t`.`post_type` = '

[2021-11-18 09:19] JoryHogeveen commented on #6313
Hi @alfredo49

What code is calling this? It looks like a template correct? Are you using a shortcode? Please share!

Note: I removed all duplicate errors in your post

[2021-11-18 09:27] coadr93 commented on #6306
Wohoo! Seems to be working fine right now on my testing site.

Notes:

With 2.8.5, when extending the RM Locations post type or taxonomy the first time, the extra tabs Labels, Admin UI, Connections and Advanced don't show up anymore, which makes sense since the post types and taxonomies were not created by Pods in the first place.

Thanks a lot!

I will update on the live site as well and confirm

[2021-11-18 09:40] alfredo49 commented on #6313
Hi:

Correct, im using my custom php templates with database calls to get de data, no shortcodes.

In my website i have several CPT created by Pods Framework (Memes, Noticias, Corredurias). Last items of that CPT are called in my front page, these errors are returned when these calls occur.

All works perfect (included 2.4.8.1 version) since 6 years, until the site was updated to pods 2.8.5

[2021-11-18 10:17] kschaerer commented on #6238
Finally YES!!!!! It's working!!! Thank you!!

[2021-11-18 11:06] JoryHogeveen commented on #6313
Looking at your code and site I don't see anything related to Pods that would break like this.
Also, when visiting your site I see 404 errors on CSS files being loaded.

It looks like not only Pods has been updated, but your theme as well. At least it cannot find it's styles anymore.

[2021-11-18 11:06] lucasmkrolow commented on #6238
I can confirm that my issue is solved, thanks a lot

[2021-11-18 11:10] alfredo49 commented on #6313
Hi:

Nothing has been updated apart of Pods Framework, in fact, when i roll back to pods 2.8.4.1 site runs perfect again..

[2021-11-18 11:11] JoryHogeveen commented on #6313
Hmm weird about the CSS file then.
Anyhow, could you try to clear the Pods cache? Pods > Settings > Clear cache.
We've changed an error in object registering for existing WP objects and `category` is one of those existing objects.

[2021-11-18 11:17] alfredo49 commented on #6313
Hi:

Clear cache doesnt solve my issue. I try that.

In addition to the problem with the styles, there are PHP errors also produced by the update of the Pods Framework plugin. In fact, these problems prevent "correduria" (left sidebar) data and "meme" images (Both Pods Frameworks items) were loaded.

You can see 2 images in my original post where you can see how is the web currently looking (pods

[2021-11-18 11:31] rinoxstudio opened #6314 "Advanced Content Type in 2.8 and relationship to it"
### Description

In previous versions Advanced Content Type (ACT) had preset of fields, one of them was “title”. Now there is no any presets but you can’t create field named “title”, because of getting message, that “title” is reserved for this content type… In ACT created before 2.8 update field "title" exists and work well, but in new ACT's there is no way to use it.

Another problem is adding n

[2021-11-18 11:39] JoryHogeveen commented on #6313
Hi @alfredo49

The UI of a website doesn't tell that much of the actual error unfortunately.
However, your code and errors do!

I tried some things to reproduce your issue on Pods 2.8.5 (and versions before that) but I cannot seem to succeed to recreate your situation.

Just curious. If you go to your Edit Pods screen and edit the `meme` Pod. See the `Connections` tab, is `Category` checked there?

[2021-11-18 11:48] alfredo49 commented on #6313
Hi:

I confirm style 404 errors are not related with Pods issue, the website works perfectly despite them, we can descart them. There were before this issue. They do not interfere with the correct viewing of the website.

REst API not activated
![Captura de pantalla 2021-11-18 a las 12 47 36](https://user-images.githubusercontent.com/16021586/142409938-4f07df81-0078-492e-8cfd-4debd4fc12eb.png)

[2021-11-18 12:01] JoryHogeveen commented on #6313
Hi @alfredo49
Is Meme an extended post type? How is it related to the WP core `category` taxonomy? Through code?
REST API is only needed for the block editor.

[2021-11-18 12:12] JoryHogeveen commented on #6312
@sc0ttkclark
I've checked the debug backtrace, it should work fine since a Pod object is array accessible right?

[2021-11-18 12:19] alfredo49 commented on #6313
Hi @JoryHogeveen

Yes, Meme and Noticia are Post Types Extended.

I did not code the website but both have the same categories as the native WordPress posts

[2021-11-18 12:34] sc0ttkclark commented on #6312
I'll check this out today and see what could possibly be happening here. ArrayAccess should just work for a Whatsit Pod object.

[2021-11-18 12:35] Toraji123 opened #6315 "$ is displayed instead of ¥"
### Description

Even though I set the Currency Sign to “JPY: Japanese Yen(¥)“, the sign displayed in the form is “$” after upgrading to 2.8.0.
“¥” was displayed before the upgrade.

I use form() to show this field.

Thanks for your help!

### Version

2.8.4

### Testing Instructions

_No response_

### Screenshots / Screencast

![image (1)](https://user-images.githubusercontent.com/40485661/14241

[2021-11-18 12:59] alfredo49 commented on #6313
Abother thing @JoryHogeveen

When i update to PODS 2.8.5, Post Types extended in the dashboard change their names to "Entradas" (post in english), it is the default name
![Captura de pantalla 2021-11-18 a las 12 47 36](https://user-images.githubusercontent.com/16021586/142419803-ac2dad32-b1e2-4e47-bb5a-5f855a72fcc1.png)

I try to reset cache but nothing changes, their original names are lost

[2021-11-18 15:16] apooley opened #6316 "Pods 2.8.5 removed "category" from Product post type"
### Description

Upon updating Pods to 2.8.5, products no longer had a category. All product category links were broken and went to hxxps://sitename.tld/product-cat/product-slug instead of hxxps://sitename.tld/actual/product/categories/slug

### Version

2.8.5

### Testing Instructions

1. With WooCommerce / products set up install Pods 2.8.5
2. Go to WP Admin -> Products - Category is no longer p

[2021-11-18 20:36] andrepetrini opened #6317 "When adding custom groups of fields with pods_group_add(), don't show those fields in other groups (if already in a real group)"
### Description

Hi,
I already have a lot of PODs, and I used to group them with code:
`function my_metaboxes ( $type, $name ) {
    pods_group_add( 'campaign', 'Campanha', 'images,video1' );
    pods_group_add( 'campaign', 'Mais Vídeos', 'video2,video3,video4,video5,video6' );
    pods_group_add( 'campaign', 'Créditos', 'agency,brand,sector,creatives' );
    pods_group_add( 'campaign', 'Produção'

[2021-11-18 20:36] lisaschiffli opened #6318 "Date/Time field error during Pods Edit on iPad"
### Description

When editing new or existing custom pods items (ie Concerts), on iPads (both Safari and Chrome, 2 diff iPads), all Date/Time fields are unavailable for editing and display the error "There was an error rendering the field." This occurs on both existing previously entered date/time entries as well as new entries. It also occurs when a new test date/time field is tried. This occurs

[2021-11-19 03:31] sc0ttkclark commented on #6312
I believe this is now fixed in daf3c5ecfc55f9a8a21e93a6091fb0b9769b1593

This fix will go out in Pods 2.8.6 but for now, consider adjusting your code to avoid using Pod() objects and follow the 1.x to 2.x guide here: https://docs.pods.io/compare-functionality-in-pods-1-x-to-pods-2-x/

[2021-11-19 10:41] JoryHogeveen opened #6319 "Link field not validating properly due to website validation"
### Description

The link field (invisible) isn't validating correctly due to the parent `website` field.

[2021-11-19 10:42] JoryHogeveen commented on #6319
Fixed in https://github.com/pods-framework/pods/commit/f385f9d14bac2fb261a4b099b22a9e89a21da06a

[2021-11-19 10:42] #6319 closed

[2021-11-19 11:00] JoryHogeveen commented on #6300
@sc0ttkclark @zrothauser
https://wordpress.org/support/topic/date-fields-not-displaying-since-upgrade/

I see a mention of only reproducible on Mac, not Windows, maybe that is why I cannot reproduce.

I do see a different error with the Time field. When the value is 00:00 it's simply not shown. This is default in HTML5 but the same thing happens with non-HTML5 fields.

[2021-11-19 11:23] JoryHogeveen commented on #6319
Another fix in https://github.com/pods-framework/pods/commit/1ba2f8b3c83a0dc78a64cfaab94937cad15bddee

[2021-11-19 11:34] JoryHogeveen opened #6320 "UX Date/Time fields"
### Description

I believe we can definitely improve a lot for the date/time fields UI/UX wise.
Just curious, WordPress already has date/time components which work quite intuitively. Could we re-use these components?
See the "Publish" option in the block editor under the "Status & Visibility" section.

https://developer.wordpress.org/block-editor/reference-guides/components/date-time/

Putting it

[2021-11-19 11:41] JoryHogeveen commented on #6317
@sc0ttkclark
Another user reported the same issue: https://wordpress.org/support/topic/pods_group_add-is-broken-now/

[2021-11-19 11:43] JoryHogeveen commented on #6318
Hi @lisaschiffli ,

Please share your field config so we can validate/reproduce the issue!
Otherwise it’s very hard for us to debug 🙂

Cheers, Jory

[2021-11-19 11:44] JoryHogeveen commented on #6318
Probably the same issue: https://github.com/pods-framework/pods/issues/6300

[2021-11-19 11:46] JoryHogeveen commented on #6313
Hi @alfredo49
It looks like an issue with extending existing Post Types.

Could you try to do the following?

1. Export the Pods using Migrate Packages component
2. Delete the Pods (Not the pod items!!)
3. Re-import the Pods using Migrate Packages component

As with all debugging, please test on a staging website!

[2021-11-19 11:57] JoryHogeveen commented on #6298
@sc0ttkclark I can confirm this issue

[2021-11-19 12:15] JoryHogeveen commented on #6298
I believe this commit broke it: https://github.com/pods-framework/pods/commit/23873b6f216ad758b0ceba3298e9fa27284c1b09#diff-3af4ca77fc3cd86765f464bb6fa7000725503257e80ccc885464b3ad43ab36c4
From then on, the `pod` param is empty.

[2021-11-19 12:34] alfredo49 commented on #6313
Hi @JoryHogeveen

Doing this steps not solve my issues. Now its even worse :-(
![screen2](https://user-images.githubusercontent.com/16021586/142623238-7b7068b7-6e3d-4a2a-b020-2466e6366344.jpg)

When i reimport an error message is returned "Tag reserved for wordpress or pods internal use, try with another name", This issue can be related that now (when i update to pods 2.8.5) "Memes" and "Noticias"

[2021-11-19 12:48] lapalach commented on #6166
I might found the error. WP User Frontend is generating its own custom fields with the same name. In the edit view both tabs are populated but when saving, the values from WP User Frontend are saved and not the pods fields
![Uploading screencapture-igtanz-ost-ch-wp-admin-post-php-2021-11-19-12_36_02.png…]()

[2021-11-19 12:49] lapalach commented on #6166
Now its on you if you would check this issue with the WPUF developers or just leave it...

[2021-11-19 13:15] JoryHogeveen commented on #6298
First fix I've found: https://github.com/pods-framework/pods/pull/6321/commits/2dd423acf081eaece1998e63e3c8f4c74e3169e6

The `[after]` tag is still not working, can't find what's wrong.

In `frontier_end_template()` the `$code` var contains the full template instead of only the `[if]` subtemplate.

[2021-11-19 14:28] JoryHogeveen commented on #6313
It looks like the names of these post types might be changed? Where are the Entradas post types coming from when you have Pods disabled? Also, it's weird that both post types have the same name...

[2021-11-19 14:29] JoryHogeveen commented on #6313
Could you create a staging/dev site we can access?
I just noticed you followed my steps on your live website, please **always** use a staging site first!

[2021-11-19 14:32] cschoenfeld commented on #6300
That's a useful detail! Upon further testing, Pods 2.8.5 _does_ render the date field in Chrome and Firefox. It's specifically Safari that's having the problem.

The console in Safari shows this error: "SyntaxError: Invalid regular expression: invalid group specifier name"

[2021-11-19 14:33] alfredo49 commented on #6313
These custom post types always are called "Memes" "Noticias", when i updated to pods 2.8.5 , this names are changed to "Entradas", both the same name  (entradas is post native name in wordpress)

[2021-11-19 14:35] alfredo49 commented on #6313
I have backups last 7 seven days,  you can do test without problem, where can i pass you wp-admin access?

[2021-11-19 15:23] carlosrovira commented on #6257
Hi, I solved the problem with the WP REST Cache plugin [1]. So I close this ticket since is clear that is a performance issue in wordpress core mainly.

Thanks

[1] https://wordpress.org/plugins/wp-rest-cache/

[2021-11-19 15:23] #6257 closed

[2021-11-19 16:32] psusu opened #6322 ""Undefined index:" notice when adding a new post with $pod->add( $data ); and relationship fields"
### Description

When I use the **add()** function and I set an id value for a bidirectional relationship field

[code]

i receive this message:

[code]
And each time i try this function i receive the same message with an increment of the ids value (current_ids_**2**,current_ids_**3**,current_ids_**4**...)
the id value is the **new created post type id**.

Despite this the new pod is correctly cre

[2021-11-19 16:39] lisaschiffli commented on #6318
Here is my date/time field configuration.

[https://test.recklesssaints.com/files/concert_date_time_field_details.png](url)
[https://test.recklesssaints.com/files/concert_date_time_options.png](url)
[https://test.recklesssaints.com/files/concert_date_time_advanced.png](url)
[https://test.recklesssaints.com/files/concert_date_time_REST_API.png](url)

[2021-11-20 12:05] websitedesignby commented on #6309
Hi,

I am still having issues after testing with 2.8.5

You can recreate the issue by putting ewas-test in your plugins and importing this pods json package to build the field.
https://docs.google.com/document/d/1XB5012hTMeQYX1lpApzsN4vx1xQ4gQqoCw5uBqkud30/edit

![add_aircraft_1](https://user-images.githubusercontent.com/371860/142725493-cac69a22-351c-412d-b82f-85925d004df8.jpg)

Toggling the visi

[2021-11-20 14:58] myrmithron commented on #6302
Hello Scott,

We never add issue between pods and some other plugins, it arrives after the last update of pods version.

The issue could come from the fact we export our pods package with a different Pods version than the one where we import it.

You can see site info here : [site_info.txt](https://github.com/pods-framework/pods/files/7574698/site_info.txt)

Here is the package we migrate : [right

[2021-11-21 13:24] alfredo49 commented on #6313
Hi @JoryHogeveen

I just edited the title of the issue because I have already found the source of the problem. You can forget everything I said before because the issue appears in versions >= 2.8.4 , until pods 2.8.3 all works perfectly.

All my elements created with Pods Framework are of type Custom Post Type.

Everything worked perfectly until version 2.84. When I upgraded from 2.8.3 to 2.8.4 "M

[2021-11-22 10:05] JoryHogeveen commented on #6313
@sc0ttkclark Did we change anything in the hooks when registering our Pods to WP? The only think I can think of is that before 2.8.4 the mentioned post types (meme and noticia) weren't registered when Pods register method started and maybe after 2.8.4 they do?

[2021-11-22 17:26] sc0ttkclark commented on #6313
Pods 2.8.x checks for whether a post type is extended or not based on whether it already exists when Pods goes to register content types during init action priority 11.

If the post type or taxonomy exists already, it won't register on top of it and will instead treat it like an extended post type / taxonomy.

If the post type or taxonomy is extended but then removed from the custom code / plugin

[2021-11-22 17:38] sc0ttkclark commented on #6313
Possibly related: https://wordpress.org/support/topic/compatibility-issue-with-learndash-lms-2/#post-15090774

[2021-11-22 18:24] alfredo49 commented on #6313
In my case with Pods 2.8.3 no issues, "Meme" and "Noticia" are treated as CPT as it should be. This has been in this way since 2015.

When i update from 2.8.3 to 2.8.4 & 2.8.4.1 or 2.8.5 "Meme" and "Noticia" are converted automatically to Custom Post Types Extended and changing their names in Wordpress left menu to "Entradas" and page breaks. Because "Noticia" and "Meme" no longer CPT. If restore

[2021-11-23 06:15] jaavid opened #6324 "Name, body and thumbnail not show in pods ui"
### Description

before 2.8.x work currect, but after update, name and body not show in pods_ui :(

### Version

2.8.5

### Testing Instructions

_No response_

### Screenshots / Screencast

_No response_

### Possible Workaround

_No response_

### Site Health Information

_No response_

### Pods Package

_No response_

[2021-11-23 09:51] alfredo49 commented on #6313
The only difference is that "Meme" and "Noticia" that are converted to Custom Post Types Extended, have in "Built-in Taxonomies" category active

![category](https://user-images.githubusercontent.com/16021586/143002610-9bcd1aa4-2f18-48d2-941d-2b34fe4255f2.jpg)

The others havent categories

[2021-11-23 10:58] alfredo49 commented on #6313
Problem solved!!

I checked my functions.php code and there is this function:

[code]

This function add "Meme" and "Noticia" to feed, the problem is registering "meme" and "noticia", This is what confuses Pods Framework that's why it extends it

Commenting
[code]

All problems dissapears!!

[2021-11-23 12:44] cfaria opened #6325 "Update from 2.7.31 to 2.8.5 and image value from extended CPTs are not loaded"
### Description

Hi,

I've created some custom fields to extend the WooCommerce Product Post type. Among them are relationships, images, plain text, WYSIWYG, etc... It works great in 2.7.31 but when I upgrade to 2.8.X (it doesn't matter wich 2.8 version) the image fields values are not returned as expected...

I'm getting the image field value with get_post_meta. If I inspect the database, the fie

[2021-11-23 13:13] cfaria opened #6326 "Update to 2.8.5 from 2.7.31 changes custom field type"
### Description

Hi,

I've created some custom fields to extend the WooCommerce Product Post type. Among them are relationships, images, plain text, WYSIWYG, etc... It works great in 2.7.31 but when I upgrade to 2.8.X (it doesn't matter wich 2.8 version) there is a relationship field that **changes to plain text type** as soon as I upgrade.

As a result of that change, if I try to get the custom r

[2021-11-23 15:05] #6306 closed

[2021-11-24 02:04] sc0ttkclark commented on #6316
Related to the custom vs extended issue we're tracking.

[2021-11-24 02:13] sc0ttkclark commented on #6296
Sounds great to me, message me on the Pods slack and we can get this going. I have availability next week on my schedule to do a zoom dev session with you to integrate it.

https://support.pods.io/chat/ for Slack access

[2021-11-24 03:01] sc0ttkclark commented on #6326
This is most likely related to the extended post type / taxonomy issue we're working on.

[2021-11-24 03:06] sc0ttkclark commented on #6324
Can you provide a package of your configuration (Pods Admin > Migrate Packages) using the Migrate Packages component (Pods Admin > Components)? That might help us to see if we can reproduce the issue.

Also helpful would be access to your Site Health information (Tools > Site Health > Info Tab > Copy site info to clipboard) would also help us determine if there are any potential conflicts from oth

[2021-11-24 08:37] jaavid commented on #6324
`
{
    "meta": {
        "version": "2.8.5",
        "build": 1637743004
    },
    "pods": [
        {
            "name": "manplate_product",
            "id": 19,
            "label": "\u0645\u062d\u0635\u0648\u0644 \u0634\u06a9\u0644\u062f\u0647\u06cc",
            "description": "",
            "type": "post_type",
            "storage": "meta",
            "show_in_menu": "1",
            "

[2021-11-24 09:46] vitmarks commented on #6316
I upgraded from 2.7 to 2.8.5 and had the same result. but after clear pods cache it fixed it

[2021-11-24 11:12] myrmithron commented on #6302
Hi Scott,

Do you need some other information ?

Regards

[2021-11-25 01:13] millionleaves opened #6327 "When adding a Relationship field, Related Type should be a mandatory field"
### Description

I just created a relationship field. I forgot to add what the field related to (another CPT, in this case). I was still able to save the field and the pod.

Then, when I tried to add content for this Pod, I got this error:

Database Error; SQL: SELECT DISTINCT `t`.`id`, `t`.`name` FROM `-_Select_One_-` AS `t` ORDER BY `t`.`name`, `t`.`id` LIMIT 0, 30; Response: Table 'wp_ldp.-_Sel

[2021-11-25 06:40] professorseo commented on #6314
Just FYI that this is the same problem as I am facing.

[2021-11-25 09:35] steffymoc opened #6328 "Incompatibility with ACF even when Pods is not related in any way to Posts"
### Description

Hello,

I have a problem with ACF Forms, but only when Pods plugin is enabled. The only thing i do with Pods is create a new post type named Projects, and Category and Domains taxonomies. And that's it.

The form has an issue with validating uploaded Files and Images in ACF. Even if Pods has nothing to do with Posts, it does not extend Posts in any way, only ACF has a form on Post

[2021-11-25 21:48] niocncn commented on #3753
@JoryHogeveen Hi! How to be with taxonimies? What hook need to use in case of taxonomies ?

[2021-11-26 13:23] JoryHogeveen commented on #3753
@niocncn
Just google `Save taxonomy hook`:
https://www.google.com/search?q=save+taxonomy+hook&oq=save+taxonomy

[2021-11-26 13:58] #5917 closed

[2021-11-26 13:58] #5833 closed

[2021-11-26 14:04] JoryHogeveen commented on #6318
Also related: https://wordpress.org/support/topic/date-fields-not-displaying-since-upgrade/

[2021-11-26 14:11] JoryHogeveen commented on #6300
@swabhav

Could you report back on this issue. I'd like to know if 2.8.5 has the same error in your installation.

[2021-11-26 15:43] JoryHogeveen commented on #6298
@sc0ttkclark Another user with the same issue:
https://wordpress.org/support/topic/before-after-tag-stopped-working/

[2021-11-26 15:54] niocncn commented on #3753
I made little plugin than use hooks

I want to get model like in REST API, but I get outdated pods params

[code]
So, i think hook fires before pods updating or some cache clears...

[2021-11-26 17:37] jklwebsites opened #6329 "Pods Field Formatting Being Removed"
### Description

The issue I'm having is that the field formatting is being removed. For example, there's a field for Price with the formatting $5,980 but upon saving the post it renders it 5980; I can then manually format it in Custom Field and update just that field, and then it works, but if I save/update the entire post the formatting for all fields is removed again.

### Version

2.8.5

### T

[2021-11-26 18:57] JoryHogeveen commented on #6315
I cannot reproduce this issue on Pods 2.8.5

[2021-11-26 18:59] JoryHogeveen commented on #6315
@Toraji123 How are you using `form()`

[2021-11-26 19:31] rolandksmith opened #6330 "Duplicate Pod Missing Fields"
### Description

When duplicating a pod fields are missing from the duplicate pod
In the following document the left side has the original pod, the right side is the duplicate pod. A black line indicates the missing fields

[podsDuplicateMissingFields.pdf](https://github.com/pods-framework/pods/files/7610434/podsDuplicateMissingFields.pdf)

Every pod on our site exhibits the same problem.

When du

[2021-11-27 05:09] Toraji123 commented on #6315
@JoryHogeveen
Thank you for looking into this.
I'm using Pods 2.8.5 and WordPress 5.8.2

Here is my form and definition.
`echo $mypod->form( 'wpm-price' );`

![image](https://user-images.githubusercontent.com/40485661/143668756-ebd9ef97-9033-4653-9ba1-1367d4a04920.png)

![image](https://user-images.githubusercontent.com/40485661/143668777-7462df94-6aab-4e21-9ca5-61d130381083.png)

![image](https:/

[2021-11-27 08:22] jaavid commented on #6324
examples in :

https://docs.pods.io/code/pods-ui/

Not working :(

[2021-11-28 01:17] sc0ttkclark commented on #6328
Can we discuss this further on our [Live Community Pods Slack](https://support.pods.io/chat/)?

I believe I need to more deeply review your issue with you and that may involve sharing additional details about your site that you may want to keep private.

Once you're on the Slack, just direct message me @sc0ttkclark or mention me in #support and I can direct message you from there.

[2021-11-28 03:45] sc0ttkclark commented on #6329
@jklwebsites What are you doing to output that field? Is that using a shortcode, block, pod template, or something else? Are there any details you can provide there?

[2021-11-28 04:20] sc0ttkclark commented on #6330
Fixed via https://github.com/pods-framework/pods/commit/361edec77906e270162f67efc8edc25444197694

[2021-11-28 04:20] #6330 closed

[2021-11-28 05:34] sc0ttkclark commented on #6327
Fixed via 664777193e5a7e4015c4f231d697a2f7d00f011d

[2021-11-28 05:34] #6327 closed

[2021-11-28 05:47] sc0ttkclark commented on #6313
I think I've finally reproduced the issue locally and put some fixes into place that address this.

Fixed via c3a55c6f92e8ba661a4c69fa4f7380d64bc73856

[2021-11-28 05:47] #6313 closed

[2021-11-28 05:53] sc0ttkclark commented on #6318
@zrothauser This one could use an additional eye from you to verify it's not an issue with our DFV field itself.

I'll do some testing on my iPad to see what I can find out too.

[2021-11-28 06:22] sc0ttkclark commented on #6318
@zrothauser Confirmed, this is definitely happening.

Mobile chrome dev logs show this for every date/time/datetime field in the Kitchen Sink CPT. Not a single one of the fields works at the moment.

[code]

[2021-11-28 06:34] sc0ttkclark commented on #6318
This happens on iPadOS (iPad) and iOS (iPhone) on Chrome or Safari, just shows “There was an error rendering the field” message

[2021-11-28 06:37] sc0ttkclark commented on #6318
From Safari web inspector via cable:

[code]

[2021-11-28 15:44] sc0ttkclark commented on #6216
Seems related to our SimpleSelect input handling, perhaps because we build the options out manually instead of dynamically.

I confirmed this happens with both Single `dropdown` / Multiple `multiselect`

[2021-11-28 18:58] coding-panda opened #6331 "Error when adding "name" and "permalink" as fields to an Advanced Content Type"
### Description

When adding  adding "name" as a field to an Advanced Content Type, it displays a SQL error, but after saving and refreshing the page, it will appear. Same problem to "permalink"

### Version

2.8.5

### Testing Instructions

1. create an Advanced Content Type table
2. add "name" as a field

### Screenshots / Screencast

![Edit Pods ‹ Simpods CPD DEV — WordPress](https://user-image